@font-face {
  font-family: 'Verdana';
  src: url('Verdana.eot');
  src: local('Verdana'),
    url('Verdana.eot?#iefix') format('embedded-opentype'),
    url('Verdana.woff') format('woff'),
    url('Verdana.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Verdana';
  src: url('Verdana-Bold.eot');
  src: local('Verdana Bold'), local('Verdana-Bold'),
    url('Verdana-Bold.eot?#iefix') format('embedded-opentype'),
    url('Verdana-Bold.woff') format('woff'),
    url('Verdana-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after{
  box-sizing: inherit; 
}
button{
  font-family: inherit;
}
img{
  max-width: 100%;
  height: auto;
}

body{
  font-family: Verdana, sans-serif;
  font-size: 14px;
  line-height: 1.22;
  color: #000;
  overflow-x: hidden;
}
.container{
  width: 100%;
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
}

/* Кнопка, базовый стиль */

.button{
  display: inline-block;
  padding: 12px 30px;
  background: transparent;
  border: 1px solid #1D4282;
  border-radius: 8px;
  color: #1D4282;
  font-size: 16px;
  text-decoration: none;
  transition: all 0.3s;
}
.button:hover{
  background: #1D4282;
  color: #fff;
}
.button_gradient{
  position: relative;
  z-index: 1;
  background: linear-gradient(to right, #1D4282, #5AEFED);
  border: none;
  color: #fff;
  font-size: 18px;
}
.button_gradient:hover{
  color: #1D4282;
  background: linear-gradient(to right, #1D4282, #5AEFED); 
}
.button_gradient::before{ /* При наведении ::before перекрывает фон кнопки оставляя 1px со всех сторон, нужен для градиентной границы */
  content: '';
  position: absolute;
  z-index: -1;
  top: 1px;
  right: 1px;
  bottom: 1px;
  left: 1px;
  border-radius: 7px;
  background: transparent;
  transition: all 0.3s;
}
.button_gradient:hover::before{
  background: #fff;
}
.button_exit{
  position: relative;
  padding: 12px 30px 12px 65px;
}
.button_exit::before{
  content: '';
  position: absolute;
  left: 30px;
  top: 50%;
  margin-top: -12px;
  display: inline-block;
  width: 24px;
  height: 24px;
  background: url(../img/icons/logout.png) no-repeat center / cover;
  transition: filter 0.1s;
}
.button_exit:hover::before{
  filter: brightness(10); /* Повышает яркость изображения, при больших значения делае любое изображение белым, а при нуле чёрным  */
}

/* Шапка */

.header{
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
  font-size: 16px;
}
.header_bg{
  background-color: #fff;
  box-shadow: 4px 4px 25px rgba(0, 0, 0, 0.1);
}

/* Верхняя часть шапки */

.h-top{
  background: #1D4282;
  color: #fff;
}
.h-top__container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}

/* Поделиться */

.share{
  display: flex;
  align-items: flex-end;
}
.share a{
  opacity: 0.7;
  transition: opacity 0.3s;
}
.share a:hover{
  opacity: 1;
}
.share a:not(:last-child){
  margin-right: 10px;
}
.share a:first-child{
  margin-left: 15px;
}
.language{
  display: flex;
  margin-left: 40px;
}
.language a{
  color: #ccc;
  text-decoration: none;
  text-transform: uppercase;
  transition: color 0.3s;
}
.language a:not(:last-child){
  margin-right: 7px;
}
.language .active{
  color: #fff;
}
.language a:hover{
  color: #fff;
}
.user-link{
  position: relative;
  padding-left: 25px;
  color: #fff;
  text-decoration: none;
  margin-left: auto;
  transition: opacity 0.3s;
}
.user-link::before{
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  width: 20px;
  height: 20px;
  background: url(../img/icons/user.png) no-repeat center / contain;
}
.user-link:hover{
  opacity: 0.8;
}

.user-message{
  position: relative;
  margin-left: 40px;
  transition: opacity 0.3s;
}
.user-message__count{
  position: absolute;
  right: -6px;
  top: 0;
  display: flex;
  height: 14px;
  width: 14px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #DD3C3C;
  font-size: 8px;
  color: #fff;
}
.user-message:hover{
  opacity: 0.8;
}

/* Нижняя часть шапки */

.h-bottom{
  padding-top: 20px;
  padding-bottom: 20px;
}
.h-bottom__container{
  display: flex;
  align-items: center;
}
.header__logo{
  margin-right: 40px;
}
.main-menu{
  display: flex;
  color: #1D4282;
}
.main-menu a{
  position: relative;
  display: block;
  padding: 7px 0;
  color: inherit;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  transition: border 0.3s;
}
.main-menu a:not(:last-child){
  margin-right: 28px;
}
.main-menu a.active,
.main-menu a:hover{
  border-color: #1D4282;
}
.login{
  display: flex;
  margin-left: auto;
}
.login .button:not(:last-child){
  margin-right: 30px;
}

/* Первый экран */

.first-screen{
  padding-top: 270px;
  padding-bottom: 100px;
  background-color: #F0F5F8;
  background-image: url(../img/first-screen/bg.jpg);
  background-repeat: no-repeat;
  background-position: top 100px left calc(50% + 450px);  /* Изображение расположенно по центру, затем сдвинуто на 450px вправо, чтобы не пересекалось с заголовком */
}
.offer{
  font-size: 20px;
  max-width: 800px;
  margin-bottom: 130px;
}
.offer__title{
  font-weight: bold;
  font-size: 36px;
  color: #1D4282;
  margin-bottom: 25px;
}
.offer .button{
  margin-top: 40px;
}
.offer .button:hover::after{
  background: #f2f7fa;
}

/* Преимущества */

.advantages{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.advantages__item:not(:last-child){
  margin-right: 60px;
}
.advantages__item img{
  margin-bottom: 12px;
}

/* Услуги */

.services{
  padding: 50px 0;
}
.services__container{
  display: grid;
  grid-template-columns: 1fr 1fr;  /* Задаёт количество колонок. (1fr 1fr 1fr) даст три колонки, (1fr) одну. */
  gap: 30px 30px;                  /* Расстояние между ячейками по вертикали, и по горизонтали */
}
.services__item{
  padding: 30px 40px;
  box-shadow: 4px 4px 25px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}
.services h3{
  font-size: 20px;
  color: #1D4282;
  margin-bottom: 20px;
}
.services p{
  margin-bottom: 20px;
}
.services .button{
  margin-top: 10px;
}

/* Портфолио */

.section{
  padding: 80px 0;
}
.section h2{
  font-weight: bold;
  font-size: 36px;
  color: #1D4282;
  margin-bottom: 50px;
}

.portfolio{
  background-color: #F0F5F8;
}
.portfolio__list{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;  /* Создаёт три столбца, ширина определяется автоматически */
  grid-auto-rows: 250px;               /* Создаёт строки по 250px */
  gap: 15px;                           /* Расстояние между ячейками */
  margin-bottom: 50px;
}

/* Добавьте класс для особого расположения элемента */
.portfolio__item_right{            
  grid-column: 3 / 4;              /* Элемент занимает ячейки между 2 и 3 вертикальной линеей (1 линия - левый край контейнера ) */
  grid-row: 1 / 3;                 /* Элемент занимает ячейки между 1 и 3 горизонтальной линеей (1 линия - верхний край контейнера ) */
}
.portfolio__item_bottom{
  grid-column: 1 / 3;              /* Элемент занимает ячейки между 1 и 3 вертикальной линеей (1 линия - левый край контейнера ) */
  grid-row: 2 / 3;                 /* Элемент занимает ячейки между 3 и 4 горизонтальной линеей (1 линия - верхний край контейнера ) */
}
/* Остальные элементы займут свободные ячейки */

.portfolio__item{
  position: relative;
  z-index: 1;
  background: #000;
  color: #fff;
  text-decoration: none;
  padding: 30px;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  overflow: hidden;
}
.portfolio__img{
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.3;
  transition: all 0.5s;
  object-fit: cover;
  object-position: center;
}
.portfolio__title{
  margin-bottom: 10px;
  max-width: 70%;
}
.portfolio__item_right .portfolio__title{
  max-width: 100%;
}
.portfolio__item_bottom .portfolio__title{
  max-width: 50%;
}
.portfolio__link{
  align-self: flex-start;
  padding: 2px 30px 2px 0;
  margin-top: auto;
  background: url(../img/icons/arrow.png) no-repeat center right / 20px;
  border-bottom: 1px solid transparent;
  font-weight: 700;
  transition: border 0.3s;
}
.portfolio__item:hover .portfolio__img{
  opacity: 0.7;
}
.portfolio__link:hover{
  border-color: #fff;
}
.portfolio .button{
  background-color: #1D4282;
  color: #fff;
}
.portfolio .button:hover{
  background: transparent;
  color: #1D4282;
}

/* Наша команда */

.team h2{
  margin-bottom: 20px;
}
.team__list{
  margin-top: 30px;
}
.team__image{
  width: 100%;
  height: 270px;
  object-fit: cover;
  object-position: center;
  border-radius: 8px;
  margin-bottom: 12px;
}
.team h3{
  font-size: 24px;
  font-weight: bold;
  color: #1D4282;
  margin-bottom: 8px;
}
.team .owl-nav{
  position: absolute;
  top: 50%;
  left: -60px;
  right: -60px;
  height: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.team .owl-nav button.owl-prev{
  width: 25px;
  height: 50px;
  background: url(../img/icons/prev.png) no-repeat center / contain;
}
.team .owl-nav button.owl-next{
  width: 25px;
  height: 50px;
  background: url(../img/icons/next.png) no-repeat center / contain;
}
.team .owl-dots{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.team button.owl-dot{
  width: 12px;
  height: 12px;
  background: #1D4282;
  box-shadow: 0 0 4px rgba(0,0,0,0.4);
  border-radius: 50%;
  opacity: 0.7;
  transition: all 0.3s;
}
.team button.owl-dot:not(:last-child){
  margin-right: 10px;
}
.team button.owl-dot:hover{
  opacity: 1;
}
.team button.owl-dot.active{
  opacity: 1;
}

/* Тарифы */

.tariff{
  background-color: #F0F5F8;
}

.tariff__list{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 30px;
  margin-top: 50px;
}
.tariff__item{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  padding: 30px 25px;
  border-radius: 8px;
  transition: all 0.5s;
}
.tariff__item:hover{
  box-shadow: 4px 4px 10px 5px rgba(160, 206, 232, 0.5);
}
.tariff h3{
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.tariff ul{
  margin-bottom: 20px;
}
.tariff li{
  position: relative;
  padding-left: 25px;
  font-size: 13px;
  margin-bottom: 12px;
}
.tariff li::before{
  content: '';
  position: absolute;
  left: 0;
  top: 2px;
  display: block;
  width: 15px;
  height: 15px;
  background: url(../img/icons/tick.png) no-repeat center / contain;
}
.tariff .button{
  background: #C31F1F;
  border: none;
  color: #fff;
  margin-top: auto;
}
.tariff .button:hover{
  background: #8C1A1A;
}

/* Контакты */

.contacts__box{
  display: flex;
  align-items: center;
  margin-top: 50px;
}
.contacts__list{
  padding: 0 60px;
  white-space: nowrap;
}
.contacts__list li{
  position: relative;
  margin-bottom: 30px;
  padding-left: 40px;
}
.contacts__list li::before{
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -12px;
  display: block;
  width: 25px;
  height: 25px;
}
.contacts__address::before{
  background: url(../img/icons/address.png) no-repeat center / contain;
}
.contacts__phone::before{
  background: url(../img/icons/telephone.png) no-repeat center / contain;
}
.contacts__email::before{
  background: url(../img/icons/email.png) no-repeat center / contain;
}

/* Footer */

.footer{
  padding: 30px 0;
  background-color: #19386C;
  color: #C4C4C4;
  text-align: center;
}
.footer__container{
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer__social{
  margin-right: 12px;
  opacity: 0.7;
  transition: opacity 0.3s;
}
.footer__social:hover{
  opacity: 1;
}
.footer__name{
  margin-left: 30px;
  margin-right: 18px;
}

/* Медиазапросы */

@media (max-width: 1200px) {
  .container{
    max-width: 960px;
  }
}
@media (max-width: 992px) {
  .container{
    max-width: 720px;
  }
}
@media (max-width: 768px) {
  .container{
    max-width: 540px;
  }
}
@media (max-width: 576px) {

}