@import url("../fonts/style.css");

*{
    box-sizing: border-box;
}
img{
	max-width: 100%;
	height: auto;
}
body{
	position: relative;
	font-family: 'Gilroy', sans-serif;
	font-size: 16px;
	font-weight: 500;
	color: #2c2c2c;
	line-height: 1.5;
	letter-spacing: 0.02em;
	min-width: 360px;
}

button{
	display: inline-block;
	border: none;
	background: none;
	font: inherit;
}

.container{
	max-width: 1140px;
	margin-left: auto;
	margin-right: auto;
	height: 100%;
}

/* Шапка */

.header{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	padding: 40px 0;
}
.header .container{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.header__logo{
	display: flex;
	align-items: center;
}
.header__logo a{
	margin-right: 20px;
}
.header__logo p{
	font-size: 12px;
	opacity: 0.4;
	max-width: 230px;
}

.header__phone{
	display: flex;
	align-items: center;
}
.header__phone p{
	font-size: 18px;
	font-weight: 800;
}
.header__phone .btn-call{
	display: flex;
	align-items: center;
	height: 40px;
	font-size: 12px;
	color: #428cd1;
	border: 1px solid #428cd1;
	border-radius: 20px;
	padding: 0 25px 0 20px;
	margin-left: 30px;
	text-decoration: none;
	transition: box-shadow 0.3s;
}
.header__phone .btn-call:before{
	content: '';
	display: inline-block;
	width: 15px;
	height: 15px;
	background: url('../img/icon/phone.png') center / cover;
	margin-right: 5px;
}
.header__phone .btn-call:hover{
	box-shadow: 0 0 5px rgba(41, 112, 176, 0.35) inset;
}
.header__phone .btn-call:active{
	box-shadow: 0 0 15px rgba(41, 112, 176, 0.6) inset;
}

/* Главная, Первый экран */

.first-screen{
	background: url('../img/bg-first.jpg') center bottom / cover;
	padding: 180px 0 100px;
}
.offer__title{
	font-size: 34px;
	text-transform: uppercase;
	font-weight: 800;
	margin-bottom: 20px;
}
.offer p{
	font-size: 20px;
	margin-bottom: 50px;
}
.offer p strong{
	font-weight: 700;
}
.btn{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 280px;
	height: 80px;
	border-radius: 40px;
	color: #fff;
	font-weight: 700;
	text-transform: uppercase;
	background: linear-gradient(to top, #418cd1 0%, #9dceff 100%);
	box-shadow: 0 -5px 5px rgba(41, 112, 176, 0.35) inset, 0 5px 15px rgba(65,140,209,0.8);
	text-decoration: none;
}
.btn:hover{
	background: linear-gradient(to top, #7bb3e7 0%, #9dceff 100%);
}
.btn:active{
	background: linear-gradient(to top, #9dceff 0%, #418cd1 100%);
	box-shadow: 0 -5px 5px rgba(41, 112, 176, 0.35) inset, 0 5px 15px rgba(65,140,209,0.5);
}

/* Для кнопки с подсказкой */

.first-screen .btn-prompt{
	position: relative;
}
.first-screen .btn-prompt p{
	position: absolute;
	top: 70px;
	left: 320px;
	opacity: 0.6;
	font-weight: 400;
	font-style: italic;
	font-size: 16px;
}
.first-screen .btn-prompt p:after{
	content: '';
	display: block;
	width: 123px;
	height: 41px;
	background: url('../img/arrows/arrow-left.png') center / cover;
	position: absolute;
	top: 40px;
	left: -100px;
}

/* Преимущества */

.bulits{
	display: flex;
	margin-top: 110px;
}

.bulits .item{
	position: relative;
	z-index: 1;
	padding: 25px;
	padding-right: 35px;
	width: 100%;
	margin-right: -20px;
	display: flex;
}
.bulits .item:last-child{
	margin-right: 0;
	padding-right: 25px;
}
.bulits .item:before{
	content: '';
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: -1;
	background: #fff;
	box-shadow: 0 5px 15px rgba(41, 112, 176, 0.2);
	border-radius: 10px;
	transform: skewX(-10deg);
}
.bulits .item img{
	margin-right: 20px;
	object-fit: contain;
}

.section{
	padding: 100px 0;
}
.section__title{
	font-size: 34px;
	font-weight: 800;
	text-transform: uppercase;
	text-align: center;
	line-height: 1.4;
	margin-bottom: 20px;
}
.section__intro{
	font-size: 20px;
	text-align: center;
}
.section__subtitle{
	font-size: 34px;
	font-weight: 800;
	text-align: center;
	line-height: 1.4;
}

/* Знакомая ситуация */

.choice{
	height: 1100px;
}
.choice .container{
	position: relative;
}
.choice .section__title{
	position: relative;
	z-index: 1;
}
.choice__item{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0px;
	left: 0;
	padding-top: 60px;
	background: url(../img/choice/choice-1.jpg) no-repeat center / contain;
	transition: all 0.5s;
}
.choice__li{
	position: absolute;
	padding-left: 55px;
	max-width: 220px;
}
.choice__li:before{
	position: absolute;
	left: 0;
	content: '';
	display: block;
	width: 40px;
	height: 40px;
	background: url(../img/icon/pin.png) center / cover;
}
.choice__li:nth-child(1){
	top: 180px;
	left: 277px;
}
.choice__li:nth-child(2){
	top: 320px;
	left: 188px;
}
.choice__li:nth-child(3){
	top: 490px;
	left: 166px;
}
.choice__li:nth-child(4){
	top: 200px;
	left: 701px;
}
.choice__li:nth-child(5){
	top: 350px;
	left: 828px;
}
.choice__li:nth-child(6){
	top: 510px;
	left: 838px;
}

.choice__quote{
	position: absolute;
	left: 50%;
	top: 600px;
	width: 500px;
	margin-left: -250px;
	padding: 35px;
	box-shadow: 0 5px 15px rgba(31, 1, 0, 0.2);
	background: #fff;
	border-radius: 10px;
	font-size: 20px;
}
.choice__quote:after{
	content: '';
	display: block;
	width: 77px;
	height: 53px;
	background: url('../img/triangles/quote.png') center / cover;
	position: absolute;
	top: -53px;
	right: 75px;
	z-index: 2;
}
.choice__author{
	font-weight: 400;
	font-style: italic;
	font-size: 16px;
	opacity: 0.6;
	max-width: 300px;
	margin-left: auto;
	margin-top: 20px;
}

/* Для кнопки с подсказкой */

.choice .btn-prompt{
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 280px;
	margin-left: -140px;
	text-align: center;
}
.choice .btn-prompt p{
	position: absolute;
	top: -20px;
	left: -300px;
	opacity: 0.6;
	font-weight: 400;
	font-style: italic;
	max-width: 350px;
	font-size: 16px;
	text-align: left;
}
.choice .btn-prompt p:after{
	content: '';
	display: block;
	width: 111px;
	height: 39px;
	background: url('../img/arrows/arrow-right.png') center / cover;
	position: absolute;
	top: 65px;
	left: 165px;
}

.choice__item_cold{
	background: url(../img/choice/choice-2.jpg) no-repeat center / contain;
}
.choice__item_cold .choice__li:before{
	background: url(../img/icon/pin-cold.png) center / cover;
}
.choice__item_cold .choice__author{
	max-width: 400px;
}

/* Для скриптов */

.choice__item_hidden{
	visibility: hidden;
	opacity: 0;
}

.choice__item_cold .btn{
	background: linear-gradient(to top, #ff3900 0%, #ff9e5d 100%);
	box-shadow: 0 -5px 5px rgba(159, 24, 0, 0.35) inset, 0 5px 15px rgba(255,69,0,0.8);
}
.choice__item_cold .btn:hover{
	background: linear-gradient(to top, #ff6b2e 0%, #ff9e5d 100%);
}
.choice__item_cold .btn:active{
	background: linear-gradient(to top, #ff9e5d 0%, #ff3900 100%);
	box-shadow: 0 -5px 5px rgba(159, 24, 0, 0.35) inset, 0 5px 15px rgba(255,69,0,0.5);
}

/* Преимущества */

.advantages{
	background: url(../img/bg.jpg);
	text-align: center;
}

.advantages__list{
	display: flex;
	margin-top: 50px;
	margin-bottom: 50px;
}
.advantages__list .item{
	position: relative;
	width: 25%;
	flex-grow: 1;
	margin-right: 30px;
	padding: 35px;
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0 5px 30px rgb(2, 34, 70, 0.15);
}
.advantages__list .item:last-child{
	margin-right: 0;
}
.advantages__list .item:before{
	content: '';
	position: absolute;
	top: 10px;
	right: 10px;
	bottom: 10px;
	left: 10px;
	border: 1px solid #d8e7e9;
	border-radius: 10px;
}
.advantages__list .item img{
	margin-bottom: 40px;
	height: 300px;
	width: auto;
	object-fit: contain;
}

/* Дополнительные преимущества */

.moreover{
	position: relative;
	height: 780px;
	padding-top: 100px;
	background: url('../img/advantages/additional-advantages.png') top center / cover;
}
.moreover .item{
	position: absolute;
}
.moreover .item:nth-child(1){
	top: 300px;
	left: 400px;
}
.moreover .item:nth-child(2){
	top: 250px;
	left: 750px;
}
.moreover .item:nth-child(3){
	top: 600px;
	left: 250px;
}
.moreover .item:nth-child(4){
	top: 600px;
	left: 700px;
}
.moreover__button{
	display: block;
	width: 70px;
	height: 70px;
	background: url(../img/icon/plus.png) center / cover;
	position: absolute;
}
.moreover .card{
	position: absolute;
	background: #fff;
	box-shadow: 0 5px 30px rgba(2, 34, 70, 0.15);
	padding: 20px;
	border-radius: 10px;
	text-align: left;
	width: 250px;
	transition: all 0.3s;
}
.moreover .card_left{
	left: -250px;
	top: -65px;
}
.moreover .card_left:after{
	content: '';
	display: block;
	width: 30px;
	height: 37px;
	background: url('../img/triangles/card-left.png') center / cover;
	position: absolute;
	right: -30px;
	top: 100px;
}
.moreover .card_right{
	left: 70px;
	top: -5px;
}
.moreover .card_right:after{
	content: '';
	display: block;
	width: 30px;
	height: 37px;
	background: url('../img/triangles/card-right.png') center / cover;
	position: absolute;
	left: -30px;
	top: 40px;
}
.moreover .card img{
	margin-bottom: 20px;
}
.item_hidden .card{
	visibility: hidden;
	opacity: 0;
}
.moreover .card .close{
	content: '';
	display: block;
	width: 40px;
	height: 40px;
	background: url('../img/icon/cross.png') no-repeat center;
	position: absolute;
	right: 10px;
	top: 10px;
	cursor: pointer;
}

/* Главная, Категории*/

.categories__list{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 30px;
  grid-row-gap: 30px;
  margin-top: 80px;
  margin-bottom: 80px;
}

.categories__item{
	background: #fff;
	box-shadow: 0 5px 30px rgba(2, 34, 70, 0.15);
	border-radius: 10px;
	padding: 35px;
	overflow: hidden;
	text-decoration: none;
	display: flex;
	flex-direction: column;
}
.categories__img{
	position: relative;
	top: -30px;
	right: -30px;
	margin: -30px -30px 0 -30px;
	height: 180px;
	display: flex;
	justify-content: center;
	align-items: flex-end;
}
.categories__title{
	font-size: 20px;
	color: #2c2c2c;
	max-width: 275px;
	margin-bottom: 15px;
}
.categories__more{
	color: #418ed1;
	margin-top: auto;
}
.categories__more:after{
	content: '';
	display: inline-block;
	width: 12px;
	height: 9px;
	background: url(../img/icon/arrow.png) center / cover;
	margin-left: 10px;
}

.categories .btn{
	width: 280px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
}

/* Тест */

.test{
	position: relative;
	background: url(../img/bg.jpg);
}

.test__card{
	position: relative;
	padding: 10px;
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0 5px 30px rgb(2, 34, 70, 0.15);
	margin-top: 60px;
	display: flex;
}

.test__form{
	position: relative;
	border: 1px solid #d8e7e9;
	border-radius: 10px;
	width: 750px;
	height: 720px;
	flex-shrink: 0;
	margin-right: 50px;
}

.btn-next{
	position: absolute;
	bottom: 0;
	left: 50%;
	margin-left: -140px;
}

.test__step-title{
	font-size: 20px;
	font-weight: 700;
	text-align: center;
	margin-bottom: 30px;
}
.test__step{
	position: absolute;
	top: 100px;
	right: 30px;
	bottom: 30px;
	left: 30px;
}
.test__step_hidden{
	visibility: hidden;
}

.test input[type="radio"]{
	display: none;
}

/* Первый вопрос */

.test__step-1 .list{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-column-gap: 10px;
  grid-row-gap: 10px;
  font-size: 14px;
}
.test__step-1 label{
	border: 1px solid #d8e7e9;
	border-radius: 5px;
	padding: 20px;
	text-align: center;
	cursor: pointer;
	color: #939393;
}
.test__step-1 img{
	width: 100%;
	height: 73px;
	object-fit: contain;
	object-position: top center;
	margin-bottom: 10px;
}
.test__step-1 label:hover{
	color: #303030;
}
.test__step-1 input:checked + label{
	border: 1px solid #9dceff;
	box-shadow: 0 5px 20px rgba(65, 142, 209, 0.6);
	color: #303030;
}

/* Второй вопрос */

.test__step-2 label{
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	height: 100px;
	background: #fff;
	border: 1px solid #d8e7e9;
	border-radius: 5px;
	margin-bottom: 20px;
	cursor: pointer;
	color: #939393;
}
.test__step-2 label:before{
	content: '';
	display: block;
	width: 22px;
	height: 22px;
	background: url(../img/icon/check-off.png) center / cover;
	position: absolute;
	left: 100px;
}
.test__step-2 label:hover{
	color: #303030;
}
.test__step-2 input:checked + label{
	border: 1px solid #9dceff;
	box-shadow: 0 5px 20px rgba(65, 142, 209, 0.6);
	color: #303030;
}
.test__step-2 input:checked + label:before{
	background: url(../img/icon/check-on.png) center / cover;
}
.test__step-2 input[type="text"]{
	padding: 25px;
	background: #f9f9f9;
	border: 1px solid #d8e7e9;
	border-radius: 5px;
	width: 380px;
	box-shadow: inset 0 5px 10px rgba(0,0,0,0.15);
}

/* Третий вопрос */

.test__step-3 .list{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 10px;
  grid-row-gap: 10px;
  font-size: 14px;
}
.test__step-3 label{
	border: 1px solid #d8e7e9;
	border-radius: 5px;
	padding: 25px;
	cursor: pointer;
	text-align: center;
	color: #939393;
}
.test__step-3 img{
	width: 100%;
	height: 110px;
	object-fit: contain;
	object-position: top center;
	margin-bottom: 10px;
}
.test__step-3 input:checked + label{
	border: 1px solid #9dceff;
	box-shadow: 0 5px 20px rgba(65, 142, 209, 0.6);
	color: #303030;
}

/* Четвёртый вопрос */

.test__step-4 label{
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	height: 60px;
	background: #fff;
	border: 1px solid #d8e7e9;
	border-radius: 5px;
	margin-bottom: 10px;
	cursor: pointer;
}
.test__step-4 label:before{
	content: '';
	display: block;
	width: 22px;
	height: 22px;
	background: url(../img/icon/check-off.png) center / cover;
	position: absolute;
	left: 100px;
}
.test__step-4 input:checked + label{
	border: 1px solid #9dceff;
	box-shadow: 0 5px 20px rgba(65, 142, 209, 0.6);
}
.test__step-4 input:checked + label:before{
	background: url(../img/icon/check-on.png) center / cover;
}

/* Пятый вопрос */

.test__step-5 input[type="text"]{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 280px;
	height: 80px;
	border-radius: 40px;
	background: #f9f9f9;
	box-shadow: inset 0 5px 10px rgba(0,0,0, 0.15);
	border: 1px solid #d8e7e9;
	padding: 0 40px;
	margin-bottom: 20px;
}

.btn-submit{
	margin-left: auto;
	margin-right: auto;
}

.progress{
	margin: 30px;
	font-size: 12px;
	color: #b2b2b2;
	text-align: center;
}
.progress__line{
	height: 20px;
	border-radius: 10px;
	background: #fafafa;
	box-shadow: inset 0 5px 10px rgba(0,0,0, 0.15);
	margin-bottom: 10px;
}
.progress__performed{
	height: 100%;
	background: url(../img/test/progress__performed.png);
	border-radius: 10px;
	width: 20%;
	box-shadow: inset 0 3px 7px #c8e3ff, inset 0 -5px 10px rgba(2, 76, 177, 0.3);
}

.test__right{
	position: relative;
	padding-right: 30px;
}
.test__quote{
	position: relative;
	margin-top: -60px;
	z-index: 1;
	padding: 20px 10px 20px 30px;
}
.test__quote:before{
	content: '';
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: -1;
	background: #fff;
	box-shadow: 0 5px 15px rgba(41, 112, 176, 0.2);
	border-radius: 10px;
	transform: skewX(-10deg);
}

.test__man{
	position: relative;
	z-index: 1;
	bottom: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 60px;
	width: 200px;
	color: #fff;
	font-size: 12px;
	margin-top: -20px;
	margin-left: auto;
}
.test__name{
	font-size: 16px;
	font-weight: 700;
}
.test__man:after{
	content: '';
	position: absolute;
	z-index: -1;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: linear-gradient(to top, #418cd1 0%, #9dceff 100%);
	border-radius: 5px;
	transform: skewX(-10deg);
}

/* О нас */

.about-us{
	display: flex;
}
.about-us .section__subtitle{
	text-align: left;
	margin-bottom: 50px;
}
.about-us__text{
	margin-top: 50px;
}
.about-us__text p{
	margin: 0 85px;
	font-size: 20px;
}
.about-us__img{
	position: relative;
	flex-shrink: 0;
}
.about-us__man{
	position: absolute;
	z-index: 1;
	bottom: 20px;
	left: 100px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 84px;
	width: 250px;
	color: #fff;
}
.about-us__name{
	font-size: 20px;
	font-weight: 700;
}
.about-us__man:after{
	content: '';
	position: absolute;
	z-index: -1;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: linear-gradient(to top, #418cd1 0%, #9dceff 100%);
	border-radius: 10px;
	transform: skewX(-10deg);
}

/* Наши дефлекторы */

.our-deflectors{
	margin-top: 30px;
}
.our-deflectors__title{
	font-size: 20px;
	font-weight: 700;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 50px;
}
.our-deflectors__list{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-column-gap: 30px;
  grid-row-gap: 30px;
	text-align: center;
}

.our-deflectors__img{
	display: flex;
	justify-content: center;
	align-items: flex-end;
	height: 150px;
	margin-bottom: 20px;
}

/* Отзывы */

.reviews{
	overflow: hidden;
	background: url(../img/bg.jpg);
}
.reviews .container{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.reviews__list{
	width: 1950px;
	margin-top: 30px;
}
.slick-track{
	padding: 50px 0;
}
.slick-slide{
	padding: 25px 25px 35px;
	transition: transform 0.3s;
}
.slick-center{
	position: relative;
	z-index: 1;
	transform: scale(1.25);
}

.reviews__buttons{
	display: flex;
	align-items: center;
}
.slick-arrow{
	display: block;
	width: 84px;
	height: 84px;
}
.slick-prev{
	background: url('../img/icon/arrow-left.png');
}
.slick-next{
	background: url('../img/icon/arrow-right.png');
}
.slick-dots{
	display: flex;
	margin: 0 10px;
}
.slick-dots button{
	font-size: 0;
	display: block;
	width: 13px;
	height: 13px;
	border: 1px solid #9fcfff;
	border-radius: 50%;
	padding: 0;
	margin: 0 5px;
}
.slick-dots .slick-active button{
	background: url(../img/icon/dot-active.png) center / cover;
	border: none;
}

.reviews__item{
	position: relative;
	height: 350px;
	box-shadow: 0 5px 30px rgb(2, 34, 70, 0.15);
	background-color: #fff;
	border-radius: 10px;
	padding: 11px;
	display: flex !important;
}
.reviews__item:before{
	content: '';
	position: absolute;
	top: 10px;
	right: 10px;
	bottom: 10px;
	left: 10px;
	border: 1px solid #e0e0e0;
	border-radius: 10px;
}
.reviews__img{
	width: 50%;
	height: 100%;
	border-radius: 8px 0 0 8px;
	overflow: hidden;
}
.reviews__img img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}
.reviews__text{
	font-size: 12px;
	width: 50%;
	padding: 20px;
	padding-left: 30px;
}
.reviews__text p{
	padding-bottom: 10px;
}
.reviews__author{
	text-align: right;
	font-weight: 700;
}

/* Контакты */

.contacts__map{
	box-shadow: 0 5px 30px rgb(2, 34, 70, 0.15);
	border-radius: 5px;
	overflow: hidden;
	margin-top: 50px;
	margin-bottom: 50px;
}

.contacts__list{
	display: flex;
	justify-content: space-between;
}
.contacts__item{
	position: relative;
	padding-left: 35px;
}
.contacts__item:before{
	content: '';
	display: block;
	width: 25px;
	height: 25px;
	position: absolute;
	top: 5px;
	left: 0;
}
.contacts__item.address:before{
	background: url(../img/icon/adress.png) no-repeat center / contain;
}
.contacts__item.phone:before{
	background: url(../img/icon/phone2.png) no-repeat center / contain;
}
.contacts__item.email:before{
	background: url(../img/icon/mail.png) no-repeat center / contain;
}
.contacts__title{
	font-weight: 700;
	font-size: 20px;
	margin-bottom: 10px;
}

/* Footer */

.footer{
	padding: 40px 0;
	background: url(../img/bg.jpg);
	font-size: 14px;
}
.footer .container{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.footer__logo{
	display: flex;
	flex-direction: column;
}
.footer__logo a{
	margin-bottom: 20px;
}
.footer__logo p{
	font-size: 12px;
	opacity: 0.4;
}
.footer__link{
	color: #418ed1;
	text-decoration: underline;
}
.footer__link strong{
	font-weight: 700;
}
.footer__link:hover{
	text-decoration: none;
}
.footer__author{
	text-align: right;
}

.popup-form{
	position: relative;
	max-width: 420px;
	margin-left: auto;
	margin-right: auto;
	padding: 50px 35px;
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0 5px 30px rgb(2, 34, 70, 0.15);
}
.popup-form:before{
	content: '';
	position: absolute;
	top: 10px;
	right: 10px;
	bottom: 10px;
	left: 10px;
	border: 1px solid #d8e7e9;
	border-radius: 10px;
}
.popup-form__intro{
	position: relative;
	z-index: 1;
	font-size: 20px;
	text-align: center;
	margin-bottom: 50px;
}
.popup-form form{
	position: relative;
	z-index: 1;
}
.popup-form input[type="text"]{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 280px;
	height: 80px;
	border-radius: 40px;
	background: #f9f9f9;
	box-shadow: inset 0 5px 10px rgba(0,0,0, 0.15);
	border: 1px solid #d8e7e9;
	padding: 0 40px;
	margin-bottom: 20px;
}

.popup-form .btn-submit{
	margin-left: auto;
	margin-right: auto;
}

.mfp-close{
	top: 10px;
	right: 10px;
}
.mfp-bg{ 
  opacity: 0; 
  transition: all 0.3s;
}
.mfp-bg.mfp-ready{
  opacity: 0.8;
}
.mfp-bg.mfp-removing{
  opacity: 0;
}
.mfp-wrap .mfp-content{
  opacity: 0;
  transition: all 0.3s;
}
.mfp-wrap.mfp-ready .mfp-content{
  opacity: 1;
}
.mfp-wrap.mfp-removing .mfp-content{
  opacity: 0;
}

.mfp-content{
	padding-top: 50px;
	padding-bottom: 50px;
}

@media only screen and (max-width: 1200px){
	.container{
		max-width: 960px;
	}

	.choice__li:nth-child(1){
		top: 160px;
		left: 205px;
	}
	.choice__li:nth-child(2){
		top: 315px;
		left: 100px;
	}
	.choice__li:nth-child(3){
		top: 490px;
		left: 75px;
	}
	.choice__li:nth-child(4){
		top: 200px;
		left: 610px;
	}
	.choice__li:nth-child(5){
		top: 350px;
		left: 740px;
	}
	.choice__li:nth-child(6){
		top: 510px;
		left: 750px;
	}

	.test__form{
		width: 100%;
	}
	.test__right{
		display: none;
	}

	.moreover .item:nth-child(1){
		top: 300px;
		left: 300px;
	}
	.moreover .item:nth-child(2){
		top: 250px;
		left: 650px;
	}
	.moreover .item:nth-child(3){
		top: 500px;
		left: 250px;
	}
	.moreover .item:nth-child(4){
		top: 550px;
		left: 600px;
	}

	.contacts__list{
		flex-wrap: wrap;
	}
	.contacts__btn{
		width: 100%;
		margin-top: 30px;
	}
	.contacts__btn .btn{
		margin-left: auto;
		margin-right: auto;
	}
}

@media only screen and (max-width: 992px){
	.container{
		max-width: 720px;
	}

	.header__logo{
		flex-direction: column;
	}
	.header__logo a{
		margin-bottom: 10px;
	}
	.header__phone{
		flex-direction: column;
		align-items: center;
	}
	.header__phone p{
		margin-bottom: 10px;
	}
	.header__phone .btn-call{
		margin-left: 0;
	}

	.offer__title{
		font-size: 26px;
	}
	.section__title{
		font-size: 26px;
	}
	.section__subtitle{
		font-size: 26px;
	}
	.btn{
		height: 70px;
		font-size: 14px;
	}

	.bulits img{
		display: none;
	}
	.bulits .item{
		padding-left: 40px;
	}

	.choice__li:nth-child(1){
		top: 155px;
		left: 205px;
	}
	.choice__li:nth-child(2){
		top: 305px;
		left: 50px;
	}
	.choice__li:nth-child(3){
		top: 450px;
		left: 18px;
	}
	.choice__li:nth-child(4){
		top: 180px;
		left: 500px;
	}
	.choice__li:nth-child(5){
		top: 350px;
		left: 568px;
	}
	.choice__li:nth-child(6){
		top: 500px;
		left: 540px;
	}
	.choice .btn-prompt p{
		display: none;
	}

	.advantages__list{
		flex-wrap: wrap;
	}
	.advantages__list .item{
		width: 100%;
		margin-right: 0;
		margin-bottom: 30px;
		display: flex;
		font-size: 20px;
		text-align: left;
	}
	.advantages__list .item img{
		margin-right: 30px;
		margin-bottom: 0;
	}

	.moreover{
		position: relative;
		height: auto;
		padding-top: 0;
	}

	.moreover .section__intro{
		display: none;
	}
	.moreover__list{
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-column-gap: 30px;
	  grid-row-gap: 30px;
	  margin-top: 50px;
	}
	.moreover .item{
		position: static;
	}
	.moreover__button{
		display: none;
	}
	.moreover .card{
		position: static;
		height: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
	}
	.moreover .card_left{
		margin-left: auto;
	}
	.moreover .card:after{
		display: none;
	}
	.moreover .card img{
		margin-bottom: 20px;
	}
	.moreover .card p{
		margin-top: auto;
	}
	.item_hidden .card{
		visibility: visible;
		opacity: 1;
	}
	.moreover .card .close{
		display: none;
	}

	.categories__list{
		grid-template-columns: 1fr 1fr;
	}

	.test__step-2 label:before,
	.test__step-4 label:before{
		content: '';
		display: block;
		width: 22px;
		height: 22px;
		background: url(../img/icon/check-off.png) center / cover;
		position: absolute;
		left: 60px;
	}

	.test__step-5 input[type="text"]{
		height: 70px;
	}

	.about-us{
		position: relative;
	}
	.about-us__img{
		position: absolute;
		top: 120px;
		width: 200px;
	}

	.about-us__text{
		margin-top: 0;
	}
	.about-us .section__subtitle{
		text-align: center;
	}
	.about-us__text p{
		margin-right: 0;
		margin-left: 250px;
		min-height: 350px;
	}

	.about-us__man{
		height: 70px;
		width: 200px;
		color: #fff;
		font-size: 14px;
	}
	.about-us__name{
		font-size: 16px;
		font-weight: 700;
	}
	.about-us__man:after{
		border-radius: 5px;
	}

	.our-deflectors__title{
		margin-bottom: 30px;
	}

	.reviews__list{
		width: 100%;
	}
	.slick-track{
		padding: 0;
	}
	.slick-center{
		transform: scale(1);
	}
	.reviews__item{
		height: 400px;
	}
	.reviews__text{
		font-size: 14px;
	}

	.popup-form input[type="text"] {
    height: 70px;
	}
}

@media only screen and (max-width: 768px){
	.container{
		max-width: 540px;
	}

	.first-screen .btn-prompt p{
		display: none;
	}
	.first-screen .bulits{
		display: none;
	}

	.choice{
		height: 880px;
	}
	.choice__item{
		background: none;
	}
	.choice__item ul{
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-column-gap: 30px;
	  grid-row-gap: 20px;
	}
	.choice .section__intro{
		margin-bottom: 50px;
	}
	.choice__li{
		position: relative;
		padding-left: 55px;
		max-width: none;
	}
	.choice__li:nth-child(1){
		top: 0;
		left: 0;
	}
	.choice__li:nth-child(2){
		top: 0;
		left: 0;
	}
	.choice__li:nth-child(3){
		top: 0;
		left: 0;
	}
	.choice__li:nth-child(4){
		top: 0;
		left: 0;
	}
	.choice__li:nth-child(5){
		top: 0;
		left: 0;
	}
	.choice__li:nth-child(6){
		top: 0;
		left: 0;
	}
	.choice__quote{
		position: static;
		width: calc( 100% - 40px );
		margin-top: 50px;
		margin-left: 20px;
		margin-right: 20px;
		margin-bottom: 50px;
	}
	.choice__quote:after{
		display: none;
	}
	.choice .btn-prompt{
		position: static;
		width: 280px;
		margin-left: auto;
		margin-right: auto;
	}

	.choice__item_cold{
		background: none;
	}

	.advantages__list .item img{
		height: 200px;
	}

	.test__form{
		height: 900px;
	}
	.test__step-1 .list{
		grid-template-columns: 1fr 1fr 1fr;
	}
	.test__step-2 label:before,
	.test__step-4 label:before{
		content: '';
		display: block;
		width: 22px;
		height: 22px;
		background: url(../img/icon/check-off.png) center / cover;
		position: absolute;
		left: 20px;
	}
	.test__step-2 input[type="text"]{
		padding: 25px;
		background: #f9f9f9;
		border: 1px solid #d8e7e9;
		border-radius: 5px;
		width: 320px;
		box-shadow: inset 0 5px 10px rgba(0,0,0,0.15);
	}

	.about-us__text{
		margin-bottom: 30px;
	}
	.about-us__man{
		left: 0;
	}
	.about-us__man:after{
		border-radius: 5px;
	}

	.our-deflectors__list{
		grid-template-columns: 1fr 1fr;
	}

	.reviews__item{
		height: 700px;
		display: flex !important;
		flex-direction: column;
	}
	.reviews__img{
		width: 100%;
		height: 400px;
		border-radius: 8px 8px 0 0;
		overflow: hidden;
	}
	.reviews__text{
		width: 100%;
		padding-left: 20px;
	}

	.contacts__list{
		flex-direction: column;
	}
	.contacts__item{
		margin-left: 50px;
		margin-bottom: 20px;
	}

	.footer .container{
		flex-direction: column;
		text-align: center;
	}

	.footer__author{
		text-align: center;
		margin-top: 20px;
	}
	.footer__logo{
		margin-bottom: 20px;
	}
}
@media only screen and (max-width: 570px){
	.container{
		padding: 0 20px;
	}
	.first-screen{
		padding-bottom: 60px;
	}
	.section{
		padding: 60px 0;
	}
	.choice__item{
		left: 20px;
		right: 20px;
	}

	.moreover .card{
		width: 100%;
	}

	.categories__list {
    grid-template-columns: 1fr;
	}

	.test__form{
		height: 1100px;
	}
	.test__step-1 .list{
		grid-template-columns: 1fr 1fr;
	}
	.test__step-2 label:nth-of-type(1):before{
		display: none;
	}
	.test__step-3 .list{
		grid-template-columns: 1fr 1fr;
	}

	.about-us__img{
		display: none;
	}
	.about-us__text p {
    margin-left: 0;
    min-height: 0;
	}
}
@media only screen and (max-width: 480px){
	.container{
		padding: 0 10px;
	}
	.header__logo{
		width: 180px;
	}
	.header__logo p{
		display: none;
	}
	.header__phone{
		display: none;
	}
	.offer__title{
		font-size: 17px;
		text-align: center;
	}
	.offer p{
		font-size: 18px;
		text-align: center;
	}
	.section__title{
		font-size: 18px;
	}
	.section__subtitle{
		font-size: 18px;
	}
	.section__intro{
		font-size: 18px;
	}

	.btn{
		height: 60px;
		font-size: 14px;
		width: 260px;
	}
	.first-screen .btn{
		margin-left: auto;
		margin-right: auto;
	}

	.choice {
		padding-top: 0;
    height: 770px;
	}
	.choice__item ul {
    grid-template-columns: 1fr;
	}
	.choice__li{
		padding-left: 40px;
	}
	.choice__li:before{
		width: 25px;
		height: 25px;
	}
	.choice__quote{
		margin-left: 0;
		margin-right: 0;
		margin-top: 20px;
		width: 100%;
		padding: 15px;
		font-size: 18px;
	}
	.choice .section__intro{
		margin-bottom: 30px;
	}

	.advantages__list .item {
    font-size: 16px;
    padding: 20px;
    margin-bottom: 10px;
	}
	.advantages__list .item img {
    height: 120px;
	}
	.advantages__list{
		margin-top: 30px;
	}

	.moreover__list {
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    margin-top: 30px;
	}

	.categories__list{
		margin-top: 30px;
		margin-bottom: 50px;
	}
	.categories__item{
		padding: 20px;
	}

	.test__form {
    height: 1500px;
	}
	.test__step-1 .list {
    grid-template-columns: 1fr;
	}
	.btn-next {
    margin-left: -130px;
	}
	.test__step-2 label{
		height: 70px;
	}
	.test__step-2 label:before,
	.test__step-4 label:before{
		display: none;
	}
	.test__step-3 .list {
    grid-template-columns: 1fr;
	}
	.test__step-5 input[type="text"] {
    width: 260px;
	}

	.about-us__text p{
		font-size: 16px;
	}
	.about-us .section__subtitle{
		margin-bottom: 30px;
	}
	.our-deflectors{
		margin-top: 0;
	}

	.contacts__item {
    margin-left: 20px;
	}

	.slick-slide {
    padding: 0;
    transition: transform 0.3s;
	}
	.reviews__item{
		box-shadow: none;
	}

	.popup-form input[type="text"] {
    width: 260px;
    height: 60px;
	}
}