@font-face {
    font-family: 'Optima Cyr';
    src: url('../fonts/Optima.eot');
    src: url('../fonts/Optima.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Optima.woff2') format('woff2'),
        url('../fonts/Optima.woff') format('woff'),
        url('../fonts/Optima.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Cormorant';
    src: url('../fonts/Cormorant-Bold.eot');
    src: url('../fonts/Cormorant-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Cormorant-Bold.woff2') format('woff2'),
        url('../fonts/Cormorant-Bold.woff') format('woff'),
        url('../fonts/Cormorant-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Cormorant';
    src: url('../fonts/Cormorant-SemiBold.eot');
    src: url('../fonts/Cormorant-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Cormorant-SemiBold.woff2') format('woff2'),
        url('../fonts/Cormorant-SemiBold.woff') format('woff'),
        url('../fonts/Cormorant-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Cormorant';
    src: url('../fonts/Cormorant-Book.woff2') format('woff2'),
        url('../fonts/Cormorant-Book.woff') format('woff'),
        url('../fonts/Cormorant-Book.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

body{
	margin: 0;
	overflow-x: hidden;
}

*{
    box-sizing: border-box;
    font-family: inherit;
}

img{
	max-width: 100%;
	height: auto;
}

ul{
	list-style: none;
	padding: 0;
	margin: 0;
}

a{
	color: inherit;
	text-decoration: none;
}

button{
	border: none;
	background: none;
	cursor: pointer;
}

p{
	margin-top: 0;
}

body{
	font-family: 'Optima Cyr', sans-serif;
	font-size: 18px;
	color: #351B13;
	line-height: 1.22;
}

.section{
	margin: 100px 0;
}

.section__title{
	position: relative;
	display: inline-block;
	font-weight: 400;
	font-size: 53px;
	text-transform: uppercase;
	margin-top: 0;
	margin-bottom: 50px;
}
.section__title::after{
	content: '';
	position: absolute;
	z-index: -1;
	left: 0;
	bottom: 13px;
	display: block;
	width: 100%;
	height: 14px;
	background: #E4A3A3;
}

.text-right{
	text-align: right;
}
.text-center{
	text-align: center;
}
.border-top{
	border-top: 1px solid rgba(53, 27, 19, 0.2);
	padding-top: 50px;
	margin-top: 50px;
}
.border-bottom{
	border-bottom: 1px solid rgba(53, 27, 19, 0.2);
	padding-bottom: 30px;
}

.button{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 42px;
	background: #43433F;
	border: 1px solid #43433F;
	font-family: Optima Cyr;
	font-size: 14px;
	text-transform: uppercase;
	color: #fff;
	transition: all 0.3s;
}
.button:hover{
	background: #fff;
	color: #43433F;
}
.button_bigger{
	width: 240px;
	flex-shrink: 0;
	height: 54px;
	font-size: 16px;
}
.button_transparent{
	background: transparent;
	border: 1px solid #43433F;
	color: #43433F;
}
.button_transparent:hover{
	background: #43433F;
	color: #fff;
}

.hamburger {
  padding: 0;
  display: none;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible; }
  .hamburger:hover {
    opacity: 0.7; }
  .hamburger.is-active:hover {
    opacity: 0.7; }
  .hamburger.is-active .hamburger-inner,
  .hamburger.is-active .hamburger-inner::before,
  .hamburger.is-active .hamburger-inner::after {
    background-color: #000; }

.hamburger-box {
  width: 30px;
  height: 20px;
  display: inline-block;
  position: relative; }

.hamburger-inner {
  display: block;
  top: 50%;}
  .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    width: 30px;
    height: 1px;
    background-color: #000;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease; }
  .hamburger-inner::before, .hamburger-inner::after {
    content: "";
    display: block; }
  .hamburger-inner::before {
    top: -10px; }
  .hamburger-inner::after {
    bottom: -10px; }

.hamburger--spin .hamburger-inner {
  transition-duration: 0.22s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  .hamburger--spin .hamburger-inner::before {
    transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in; }
  .hamburger--spin .hamburger-inner::after {
    transition: bottom 0.1s 0.25s ease-in, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.hamburger--spin.is-active .hamburger-inner {
  transform: rotate(225deg);
  transition-delay: 0.12s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  .hamburger--spin.is-active .hamburger-inner::before {
    top: 0;
    opacity: 0;
    transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out; }
  .hamburger--spin.is-active .hamburger-inner::after {
    bottom: 0;
    transform: rotate(-90deg);
    transition: bottom 0.1s ease-out, transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1); }


/* Header */

.header{
	position: relative;
	z-index: 2;
	padding: 15px 0 10px;
	background-color: #fff;
	overflow: hidden;
}
.header__container{
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
}

.logo{
	display: block;
	width: 216px;
	flex-shrink: 0;
}
.main-menu{
	text-transform: uppercase;
	overflow: hidden;
	width: 465px;
	transition: all 0.3s;
}
.main-menu.close{
	width: 0;
}
.main-menu ul{
	display: flex;
	justify-content: space-between;
}
.main-menu a{
	position: relative;
	white-space: nowrap;
}
.main-menu a::after{
	content: '';
	display: block;
	width: 100%;
	height: 5px;
	background: transparent;
	position: absolute;
	left: 0;
	bottom: 5px;
	z-index: -1;
	transition: background 0.3s;
}
.main-menu a:hover::after,
.main-menu .active a::after{
	background: #E4A3A3;
}

.button_search,
.button_shop,
.button_heart{
	margin-left: 40px;
}
.header__buttons{
	display: flex;
}
.button_search{
	width: 32px;
	height: 32px;
	background: url('../img/icons/search.png') no-repeat center / contain;
}

.button_shop{
	position: relative;
	width: 32px;
	height: 32px;
	background: url('../img/icons/shop.png') no-repeat center / contain;
}
.button_shop__count{
	position: absolute;
	bottom: -5px;
	right: -5px;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 15px;
	min-width: 15px;
	background: #E4A3A3;
	border-radius: 50%;
	font-family: Cormorant, serif;
	font-weight: 600;
	font-size: 11px;
	line-height: 1;
	font-feature-settings: 'tnum' on, 'lnum' on;
}
.button_heart{
	width: 32px;
	height: 32px;
	background: url('../img/icons/heart.png') no-repeat center / contain;
}

.search{
	display: flex;
}
.search__input{
	display: block;
	border: none;
	width: 320px;
	border-bottom: 1px solid rgba(53, 27, 19, 0.2);
	padding: 5px 0;
	font-size: 16px;
	transition: width 0.3s;
}
.search.close .search__input{
	width: 0;
}

/* Главная, первый экран */

.home{
	position: relative;
	height: 100vh;
	min-height: 700px;
	overflow: hidden;
	display: flex;
	align-items: center;
	margin-top: -80px;
}
.offer{
	position: relative;
	z-index: 1;
}
.offer__title{
	font-family: Cormorant, serif;
	font-weight: 600;
	font-size: 50px;
	line-height: 1.5;
	text-transform: uppercase;
	font-feature-settings: 'tnum' on, 'lnum' on;
	margin-top: 0;
	margin-bottom: 0;
}
.offer__title strong{
	position: relative;
	font-weight: 600;
}
.offer__title strong::after{
	content: '';
	position: absolute;
	z-index: -1;
	left: 0;
	bottom: 13px;
	display: block;
	width: 100%;
	height: 14px;
	background: #E4A3A3;
}
.offer__intro{
	font-size: 17px;
	letter-spacing: 0.23em;
	text-transform: uppercase;
}

.home-slider__wrapper{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 50%;
	margin-left: -215px;
}
.home-slider__item{
	opacity: 0.8;
}
.home-slider__item_1{
	background: url(../img/home-slider/home-slider-1.jpg) top center / cover;
}
.home-slider__item_2{
	background: url(../img/home-slider/home-slider-2.jpg) top center / cover;
}
.home-slider__item_3{
	background: url(../img/home-slider/home-slider-3.jpg) top center / cover;
}

.home-slider__buttons{
	position: absolute;
	bottom: 0;
	left: 0;
	display: flex;
}
.home-slider__to-catalog{
	padding-left: 35px;
	padding-right: 20px;
	height: 80px;
	display: flex;
	align-items: center;
	background: #E28E62;
	font-family: Cormorant, serif;
	font-weight: 500;
	font-size: 20px;
	text-transform: uppercase;
	transition: background 0.3s;
}
.home-slider__to-catalog::after{
	content: '';
	display: block;
	width: 20px;
	height: 20px;
	background: url(../img/icons/right.png) center / cover;
	margin-left: 15px;
}
.home-slider__to-catalog:hover{
	background-color: #d65e1f;
}
.home-slider__nav{
	display: flex;
	align-items: center;
	background: rgba(207, 129, 129, 0.7);
	height: 80px;
	padding: 0 20px;
}
.home-slider__prev,
.home-slider__next{
	display: block;
	width: 30px;
	height: 30px;
}
.home-slider__prev{
	background: url('../img/icons/arrow-prev.png') center / cover;
}
.home-slider__next{
	background: url('../img/icons/arrow-next.png') center / cover;
}
.home-slider__count{
	font-family: Cormorant;
	font-style: normal;
	font-weight: 500;
	font-size: 30px;
	margin-left: 20px;
	margin-right: 20px;
	padding-bottom: 8px;
}
.home-slider__wrapper::before{
	content: 'professional cosmetics brow shop24 cosmetics';
	position: absolute;
	bottom: 0;
	left: 0;
	transform: rotate(-90deg) translateY(8px);
	transform-origin: left bottom;
	text-transform: uppercase;
	font-size: 30px;
	white-space: nowrap;
	opacity: 0.25;
}

.home__social{
	position: absolute;
	bottom: 0;
}
.home__social li{
	margin-bottom: 15px;
}
.social-link{
	display: block;
	width: 44px;
	height: 44px;
	border-radius: 50%;
	background-position: center center;
	background-repeat: no-repeat;
	transition: background-color 0.3s;
}
.home__social .social-link{
	background-color: #E4A3A3;
}
.home__social .social-link:hover{
	background-color: #d65e1f;
}
.instagram{
	background-image: url('../img/icons/instagram.png');
}
.facebook{
	background-image: url('../img/icons/facebook.png');
	background-position: right 2px bottom -2px;
}
.twitter{
	background-image: url('../img/icons/twitter.png');
}

/* Категории */

.categories__item{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 300px;
	background: center / cover;
	margin-bottom: 30px;
}
.categories__item::before{
	content: '';
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.3);
	transition: background 0.3s;
}
.categories__item:hover::before{
	background: rgba(0, 0, 0, 0);
}
.categories .row{
	margin-bottom: -30px;
}
.categories__item_1{
	background-image: url('../img/categories/category-1.jpg');
}
.categories__item_2{
	background-image: url('../img/categories/category-2.jpg');
}
.categories__item_3{
	background-image: url('../img/categories/category-3.jpg');
}
.categories__item_4{
	background-image: url('../img/categories/category-4.jpg');
}
.categories__item_5{
	background-image: url('../img/categories/category-5.jpg');
}
.categories__item_6{
	background-image: url('../img/categories/category-6.jpg');
}
.categories__title{
	position: relative;
	z-index: 1;
	font-size: 27px;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	font-weight: 400;
	color: #FFFFFF;
}

/* Карточки товаров */

.card{
	position: relative;
	display: flex;
	flex-direction: column;
	padding: 30px;
	height: 100%;
	background: #fff;
	box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
	transition: background 0.3s;
}
.bg-color-1:hover{
	background: rgba(225, 241, 199, 0.9);
}
.bg-color-2:hover{
	background: rgba(254, 223, 209, 0.9);
}
.bg-color-3:hover{
	background: #D1E4E3;
}
.bg-color-4:hover{
	background: rgba(224, 210, 205, 0.9);
}
.card__img{
	display: block;
	height: 145px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 30px;
}
.card__producer{
	font-family: Cormorant, serif;
	font-weight: bold;
	font-size: 16px;
	text-transform: uppercase;
	opacity: 0.5;
	margin: 0;
}
.card__price{
	font-family: Cormorant, serif;
	font-weight: bold;
	font-size: 30px;
	text-transform: uppercase;
	margin-top: auto;
	margin-bottom: 20px;
}
.card__price::after{
	content: ' ₽';
}

/* Новинки */

.novelty .row>div{
	padding-top: 20px;
	padding-bottom: 20px;
}
.novelty__card{
	box-shadow: none;
}
.novelty__card.bg-color-1{
	background: rgba(225, 241, 199, 0.9);
}
.novelty__card.bg-color-2{
	background: rgba(254, 223, 209, 0.9);
}
.novelty__card.bg-color-3{
	background: #D1E4E3;
}
.novelty__card.bg-color-4{
	background: rgba(224, 210, 205, 0.9);
}
.novelty__card::before,
.novelty__card::after{
	content: 'new products';
	position: absolute;
	z-index: -1;
	left: 0;
	display: block;
	width: 100%;
	font-size: 31.5px;
	line-height: 1;
	text-align: center;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	opacity: 0.2;
}
.novelty__card::before{
	top: -25px;
}
.novelty__card::after{
	bottom: -25px;
}

/* Похожие товары */

.similar .row>div{
	padding-top: 20px;
	padding-bottom: 20px;
}
.similar__card{
	box-shadow: none;
}
.similar__card.bg-color-1{
	background: rgba(225, 241, 199, 0.9);
}
.similar__card.bg-color-2{
	background: rgba(254, 223, 209, 0.9);
}
.similar__card.bg-color-3{
	background: #D1E4E3;
}
.similar__card.bg-color-4{
	background: rgba(224, 210, 205, 0.9);
}
.similar__card::before,
.similar__card::after{
	content: 'similar products';
	position: absolute;
	z-index: -1;
	left: 0;
	display: block;
	width: 100%;
	font-size: 26px;
	line-height: 1;
	text-align: center;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	opacity: 0.2;
}
.similar__card::before{
	top: -21px;
}
.similar__card::after{
	bottom: -25px;
}

/* Бестселлер */

.best-seller__image{
	text-align: center;
	background: rgba(214, 94, 31, 0.2);
	padding: 0 50px;
}
.best-seller__image img{
	position: relative;
	top: 50px
}
.best-seller__title{
	font-size: 30px;
	line-height: 1;
	font-weight: 400;
	margin-top: 0;
}
.best-seller__producer{
	font-family: Cormorant, serif;
	font-weight: bold;
	font-size: 20px;
	text-transform: uppercase;
	opacity: 0.5;
	margin-top: 0;
	margin-bottom: 15px;
}
.best-seller__item{
	border-top: 1px solid rgba(53, 27, 19, 0.2);
	padding-top: 20px;
	font-size: 16px;
	text-transform: uppercase;
}
.best-seller__item-title{
	opacity: 0.5;
	font-weight: 400;
	margin-top: 0;
	margin-bottom: 0;
}
.best-seller__price{
	font-family: Cormorant, serif;
	font-weight: bold;
	font-size: 50px;
	text-transform: uppercase;
	margin-top: auto;
	margin-bottom: 40px;
}
.best-seller__price::after{
	content: ' ₽';
}

/* Партнёры */

.partners{
	position: relative;
	height: 580px;
}
.partners .container{
	height: 100%;
}
.partners .container>.row{
	height: 100%;
}
.partners .button{
	margin-top: 50px;
}
.partners__list{
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 50%;
	background: #E3D7D2;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	padding: 50px;
}
.partners__list::before{
	content: 'our partners professional brends';
	position: absolute;
	bottom: 0;
	left: 0;
	font-size: 30px;
	letter-spacing: 0.025em;
	white-space: nowrap;
	text-transform: uppercase;
	opacity: 0.25;
	transform-origin: bottom left;
	transform: rotate(-90deg) translateY(8px);
}
.parters__item{
	width: 33%;
	text-align: center;
	padding: 15px;
}

/* Подпишитесь */

.subscription__intro{
	font-size: 30px;
	text-align: center;
	margin-bottom: 50px;
}

.subscription__form{
	display: flex;
}
.subscription__input{
	display: block;
	width: 100%;
	height: 54px;
	background: none;
	border: 1px solid #43433F;
	font-size: 16px;
	padding-left: 20px;
	margin-right: 40px;
}

/* Footer */

.footer{
	background: #E3D7D2;
	padding-top: 30px;
	padding-bottom: 10px;
	font-size: 15px;
}

.footer__intro{
	border-top: 1px solid rgba(53, 27, 19, 0.2);
	padding-top: 15px;
	margin-top: 10px;
}

.footer-menu__title{
	text-transform: uppercase;
	font-weight: 400;
	font-size: 15px;
	margin-top: 0;
	opacity: 0.5;
}
.footer-menu li{
	margin-bottom: 10px;
}
.footer-menu a{
	transition: color 0.3s;
}
.footer-menu a:hover{
	color: #d65e1f;
}

.footer__social{
	margin-bottom: 25px;
}
.footer__social ul{
	display: flex;
	justify-content: flex-end;
}
.footer__social li{
	margin-left: 18px;
}
.footer__social .social-link{
	background-color: #43433F;
	width: 32px;
	height: 32px;
	background-size: 18px;
}
.footer__social .social-link:hover{
	background-color: #d65e1f;
}
.footer__social .facebook{
	background-image: url('../img/icons/facebook.png');
	background-position: right 2px bottom;
}
.copyright{
	font-size: 13px;
}

/* Хлебные крошки */

.bread-crumbs{
	margin-top: 30px;
	margin-bottom: 30px;
}
.bread-crumbs ul{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}
.bread-crumbs li{
	margin-right: 25px;
	margin-bottom: 10px;
}
.bread-crumbs__separator{
	display: block;
	width: 14px;
	height: 14px;
	background: url(../img/icons/right.png) center / cover;
	opacity: 0.4;
}
.bread-crumbs a{
	opacity: 0.3;
	transition: opacity 0.3s;
}
.bread-crumbs a:hover{
	opacity: 0.8;
}

/* Страница: Каталог */

.catalog__categories .bread-crumbs{
	margin-bottom: 60px;
	margin-top: 0;
}

.catalog__categories .row{
	position: relative;
}
.catalog__categories .row::before,
.catalog__categories .row::after{
	content: 'professional cosmetics brow shop24 professional cosmetics brow shop24';
	position: absolute;
	left: 0;
	display: block;
	width: 100%;
	text-align: center;
	font-size: 27.5px;
	text-transform: uppercase;
	opacity: 0.25;
}
.catalog__categories .row::before{
	top: -25px;
}
.catalog__categories .row::after{
	bottom: 0px;
}

/* Первый экран на страницах */

.first-screen{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 500px;
}
.first-screen::before{
	content: '';
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0, 0.4);
}
.first-screen::after{
	content: 'all goods professional cosmetics brow shop24 cosmetics all goods professional cosmetics ods professional cosmetics brow shop24 cosmetics';
	position: absolute;
	bottom: -28px;
	left: 0;
	font-size: 28px;
	white-space: nowrap;
	text-transform: uppercase;
	opacity: 0.25;
}
.first-screen_makeup{
	background: url(../img/makeup.jpg) center / cover;
}
.first-screen_about-us{
	background: url(../img/about-us.jpg) top -100px center / cover;
}
.first-screen_contacts{
	background: url(../img/contacts.jpg) center center / cover;
}
.first-screen_inform{
	background: url(../img/inform.jpg) center center / cover;
}
.first-screen_shop{
	background: url(../img/shop.jpg) center center / cover;
}
.first-screen__title{
	color: #fff;
	position: relative;
	z-index: 1;
	font-weight: 400;
	font-size: 40px;
	text-transform: uppercase;
	letter-spacing: 0.1em;
}

/* Категория */

.widget{
	margin-bottom: 30px;
}
.widget__title{
	font-weight: 400;
	font-size: 20px;
	text-transform: uppercase;
	border-bottom: 1px solid rgba(53, 27, 19, 0.2);
	padding-bottom: 10px;
}
.widget li{
	margin-bottom: 5px;
	opacity: 0.5;
	transition: opacity 0.3s;
}
.widget li:hover,
.widget li.active{
	opacity: 1;
}

.widget_filter .widget__title{
	margin-bottom: 0;
}
.filter-item{
	border-bottom: 1px solid rgba(53, 27, 19, 0.2);
	overflow: hidden;
}
.filter-item__title{
	position: relative;
	font-size: 16px;
	text-transform: uppercase;
	font-weight: 400;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: space-between;
	cursor: pointer;
}
.filter-item li:last-child{
	margin-bottom: 20px;
}
.filter-item__title::after{
	content: '–';
	font-size: 20px;
}
.filter-item.close ul{
	height: 0;
}
.filter-item.close .filter-item__title::after{
	content: '+';
}

.category__row>div{
	margin-bottom: 30px;
}

.pagination{
	margin-top: 30px;
	font-family: Cormorant;
	font-feature-settings: 'tnum' on, 'lnum' on;
	font-weight: 600;
	font-size: 20px;
}
.pagination ul{
	display: flex;
	justify-content: flex-end;
}
.pagination a{
	padding: 5px 10px;
	transition: background 0.3s;
}
.pagination .active a,
.pagination a:hover{
	background: #E4A3A3;
}

/* Страница Товара */

.product{
	position: relative;
}
.product .row{
	padding: 50px 0;
}
.product__producer{
	font-family: Cormorant, serif;
	font-weight: bold;
	font-size: 20px;
	text-transform: uppercase;
	opacity: 0.5;
	margin-top: 0;
	margin-bottom: 0;
}
.product__title{
	font-weight: normal;
	font-size: 30px;
	margin-top: 0;
}

.product__menu{
	display: flex;
	justify-content: space-between;
}
.product__menu-item{
	position: relative;
	font-weight: normal;
	font-size: 16px;
	text-transform: uppercase;
	cursor: pointer;
}
.product__menu-item::after{
	content: '';
	display: block;
	width: 100%;
	height: 5px;
	background: transparent;
	position: absolute;
	left: 0;
	bottom: 5px;
	z-index: -1;
	transition: background 0.3s;
}
.product__menu-item:hover::after,
.product__menu-item.active::after{
	background: #E4A3A3;
}
.product__item{
	height: 0;
	overflow: hidden;
}
.product__item.open{
	height: auto;
}
.product__list{
	border-top: 1px solid rgba(53, 27, 19, 0.2);
	border-bottom: 1px solid rgba(53, 27, 19, 0.2);
	padding-top: 20px;
}
.characteristics{
	display: flex;
	text-transform: uppercase;
	font-size: 16px;
}
.characteristics div{
	flex-grow: 1;
}
.characteristics__title{
	opacity: 0.5;
	margin-bottom: 5px;
	font-weight: 400;
}
.product__price{
	font-family: Cormorant, serif;
	font-weight: bold;
	font-size: 50px;
	text-transform: uppercase;
	margin-top: auto;
	margin-bottom: 40px;
}
.product__price::after{
	content: ' ₽';
}

.product__form{
	display: flex;
}
.nice-number{
	border: 1px solid rgba(53, 27, 19, 0.2);
	margin-right: 40px;
}
.nice-number input{
	background: none;
	border: none;
	border-left: 1px solid rgba(53, 27, 19, 0.2);
	border-right: 1px solid rgba(53, 27, 19, 0.2);
	font-family: Cormorant;
	font-feature-settings: 'tnum' on, 'lnum' on;
	font-weight: 600;
	font-size: 20px;
	padding: 10px;
}
.nice-number button{
	font-size: 18px;
	width: 30px;
}

.product__image{
	position: absolute;
	top: 0;
	right: 50%;
	bottom: 0;
	left: 0;
	background: rgba(224, 210, 205, 0.9);
	box-shadow: 0px 4px 20px rgba(224, 210, 204, 0.8);
	display: flex;
	justify-content: center;
	align-items: center;
}

/* О нас */

.about-us__item_left{
	position: relative;
	padding: 100px 0;
}
.about-us__item_left{
	background: #E3D7D2;
}
.about-us__item_left .about-us__image{
	position: absolute;
	top: 0;
	right: 50%;
	bottom: 0;
	left: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	overflow: hidden;
}
.about-us__item_left .about-us__image img{
	height: auto;
	width: 100%;
}
.about-us__item_left .col-md-6{
	padding-left: 70px;
}

.about-us__item_right{
	position: relative;
	padding: 100px 0;
}
.about-us__item_right{
	background: #CDDAC7;
}
.about-us__item_right .about-us__image{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	overflow: hidden;
}
.about-us__item_right .about-us__image img{
	height: auto;
	width: 100%;
}
.about-us__item_right .col-md-6{
	padding-right: 70px;
}

.contacts__social ul{
	display: flex;
	justify-content: center;
}
.contacts__social li{
	margin: 15px;
}
.contacts__social .social-link{
	background-color: #E4A3A3;
}
.contacts__social .social-link:hover{
	background-color: #d65e1f;
}

.inform{
	background: rgba(227, 215, 210, 0.6);
	padding: 40px 0 80px;
}

/* Корзина */

.table__head{
	border-bottom: 1px solid rgba(53, 27, 19, 0.2);
}
.table__title{
	font-weight: 400;
	text-transform: uppercase;
	font-size: 18px;
	margin-bottom: 0;
}

.table__product{
	position: relative;
	padding-left: 120px;
	min-height: 140px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.table__product p{
	margin-bottom: 0;
}
.table__image{
	text-align: center;
	width: 100px;
	height: 100px;
	padding: 10px;
	position: absolute;
	left: 0;
	top: 50%;
	margin-top: -50px;
}
.table__image img{
	height: 100%;
	width: auto;
}
.table__image.bg-color-1{
	background: rgba(225, 241, 199, 0.9);
}
.table__image.bg-color-2{
	background: rgba(254, 223, 209, 0.9);
}
.table__image.bg-color-3{
	background: #D1E4E3;
}
.table__image.bg-color-4{
	background: rgba(224, 210, 205, 0.9);
}
.table .nice-number{
	margin-right: 0;
}
.table .row:last-child{
	border-bottom: 1px solid rgba(53, 27, 19, 0.2);
}
.total__price{
	font-family: Cormorant, serif;
	font-weight: bold;
	font-size: 50px;
	text-transform: uppercase;
	margin-top: auto;
	margin-left: 20px;
}
.total__price::after{
	content: ' ₽';
}

.shop__buttons{
	display: flex;
	justify-content: flex-end;
	margin-top: 70px;
}
.shop__buttons .button{
	width: 200px;
	margin-left: 40px;
}

.remove{
	display: inline-block;
	width: 30px;
	height: 45px;
	background: url(../img/icons/remove.png) no-repeat top center / contain;
	margin-left: 20px;
}

@media only screen and (max-width: 1200px){
	.home-slider__wrapper{
		margin-left: 0;
	}

	.section__title{
		font-size: 50px;
	}

	.categories__item{
		height: 250px;
	}

	.novelty__card::after{
		display: none;
	}
	.similar__card::after{
		display: none;
	}

	.partners{
		height: 500px;
	}
	.partners__list{
		left: 52%;
	}
	.partners__list::before{
		font-size: 25.9px;
	}

	.catalog__categories .row::before,
	.catalog__categories .row::after{
		font-size: 23px;
	}
	.catalog__categories .row::before{
		top: -22px;
	}
	.catalog__categories .row::after{
		bottom: 6px;
	}
}
@media only screen and (max-width: 992px){
	.header__container{
		flex-wrap: wrap;
	}
	.logo{
		width: 150px;
	}
	.main-menu{
		width: 100%;
		height: 0;
	}
	.main-menu.close{
		width: 100%;
	}
	.main-menu ul{
		flex-direction: column;
		padding: 20px 0;
	}
	.main-menu li{
		margin-bottom: 10px;
	}
	.header__buttons{
		position: absolute;
		top: 80px;
		right: 12px;
		flex-direction: column;
		align-items: flex-end;
	}
	.button_shop,
	.button_heart {
    	margin-left: 0;
    	margin-bottom: 20px;
	}
	.search{
		margin-bottom: 20px;
	}
	.button_search{
		margin-left: 0;
	}
	.hamburger{
		display: block;
	}
	.home-slider__nav{
		display: none;
	}

	.section{
		margin-top: 75px;
		margin-bottom: 75px;
	}

	.categories__item{
		height: 180px;
	}
	.categories__title{
		font-size: 24px;
	}

	.partners{
		height: auto;
	}
	.partners__list{
		position: relative;
		left: 0;
		margin-top: 50px;
	}

	.catalog__categories .row::before,
	.catalog__categories .row::after{
		font-size: 17px;
	}
	.catalog__categories .row::before{
		top: -18px;
	}
	.catalog__categories .row::after{
		bottom: 12px;
	}

	.about-us__item_left,
	.about-us__item_right{
		padding: 60px 0 40px;
	}
	.about-us__item_right .col-md-6{
		padding-right: 30px;
	}
	.about-us__item_left .col-md-6{
		padding-left: 30px;
	}

	.product__image{
		position: relative;
		padding: 40px 20px;
	}
}

@media only screen and (max-width: 768px){
	.offer__title{
		font-size: 46px;
	}
	.offer__title strong::after{
		height: 8px;
	}
	.section__title{
		font-size: 46px;
		margin-bottom: 30px;
	}
	.section__title::after{
		height: 8px;
	}
	.categories .container-md{
		padding-right: 0;
		padding-left: 0;
	}
	.categories .row{
		margin-right: 0;
		margin-left: 0;
		margin-bottom: 0;
	}
	.categories [class*="col-"]{
	    padding-right: 0;
	    padding-left: 0;
	}
	.categories__item{
		margin-bottom: 0;
	}

	.novelty__card::before {
		font-size: 29px;
	}
	.similar__card::before {
		font-size: 24px;
	}


	.best-seller__image{
		margin-bottom: 80px;
	}

	.subscription__intro{
		font-size: 26px;
	}
	.subscription__input{
		margin-right: 20px;
	}

	.block-border{
		padding-top: 20px;
		padding-bottom: 0;
	}

	.catalog__categories .row::before{
		font-size: 17px;
		top: -18px;
	}
	.catalog__categories .row::after{
		display: none;
	}

	.about-us__item_left .about-us__image,
	.about-us__item_right .about-us__image{
		position: relative;
		height: 400px;
		left: 0;
		margin-bottom: 40px;
	}
	.about-us__item_right .col-md-6{
		padding-right: 15px;
	}
	.about-us__item_left .col-md-6{
		padding-left: 15px;
	}

	.table__head{
		display: none;
	}
}

@media only screen and (max-width: 576px){
	.home{
		height: 568px;
		min-height: 0;
	}
	.offer__title{
		font-size: 27px;
	}
	.offer__title strong::after{
		bottom: 8px;
	}
	.offer__intro{
		font-size: 15px;
	}
	.home-slider__wrapper{
		left: 30%;
	}
	.home-slider__to-catalog{
		height: 60px;
		font-size: 16px;
		padding: 0 10px;
	}
	.button_search{
		display: none;
	}
	.home__social .social-link{
		width: 32px;
		height: 32px;
		background-size: 18px;
	}
	.home__social .facebook{
		background-position: right 2px bottom;
	}

	.section{
		margin-top: 50px;
		margin-bottom: 50px;
	}

	.categories__item{
		height: 320px;
	}
	.categories__title{
		font-size: 27px;
	}

	.section__title{
		font-size: 32px;
	}
	.section__title::after{
		bottom: 10px;
	}

	.partners__list{
		padding: 10px;
	}
	.parters__item{
		width: 50%;
	}

	.subscription__form{
		flex-direction: column;
	}
	.subscription__input{
		margin-bottom: 30px;
	}

	.button_bigger{
		margin-left: auto;
		margin-right: auto;
	}

	.footer__intro{
		display: none;
	}
	.footer .logo{
		margin-bottom: 20px;
	}

	.catalog__categories .row::before{
		content: 'professional cosmetics brow shop24';
		font-size: 24px;
		top: -23px;
	}

	.characteristics{
		flex-direction: column;
	}
	.product__form{
		flex-direction: column;
		align-items: center;
	}

	.product__form .nice-number{
		margin-right: 0;
		margin-bottom: 30px;
	}

	.about-us__item_right,
	.about-us__item_left{
		padding-top: 15px;
	}

	.about-us__item_left .about-us__image,
	.about-us__item_right .about-us__image{
		height: 300px;
	}
}