@font-face {
	font-family: 'Lato';
	src: url('../fonts/lato_regular.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/lato_regular.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/lato_regular.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/lato_regular.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/lato_regular.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/lato_regular.svg#lato_regular') format('svg'); /* Chrome < 4, Legacy iOS */
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Lato';
	src: url('../fonts/lato_bold.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/lato_bold.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/lato_bold.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/lato_bold.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/lato_bold.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/lato_bold.svg#lato_bold') format('svg'); /* Chrome < 4, Legacy iOS */
	font-weight: bold;
	font-style: normal;
}

*{
    box-sizing: border-box;
}
img{
	max-width: 100%;
	height: auto;
}
a{
	color: inherit;
	text-decoration: none;
}

body{
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-size: 16px;
	color: #171717;
	line-height: 1.3;
	min-width: 320px;
}

p{
	margin-bottom: 10px;
}

.container{
	max-width: 1140px;
	height: 100%;
	margin: 0 auto;
}

.main-title{
	font-family: Montserrat;
	font-weight: bold;
	font-size: 48px;
	line-height: 1.2;
	margin-bottom: 30px;
}
.section-title{
	font-family: Montserrat;
	font-weight: bold;
	font-size: 28px;
	line-height: 1.2;
	text-transform: uppercase;
	margin-bottom: 20px;
}
.item-title{
	font-family: Montserrat;
	font-weight: bold;
	font-size: 20px;
	line-height: 1.2;
	margin-bottom: 10px;
}

.marker{
	position: relative;
	padding-left: 45px;
}
.marker::before{
	content: '';
	display: block;
	width: 30px;
	height: 3px;
	background-color: #FF1519;
	position: absolute;
	left: 0;
	top: 0.6em;
}
.marker_small::before{
	height: 1px;
}

.button{
	display: block;
	padding: 10px 0;
	text-align: center;
	background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(225, 8, 12, 0.1) 100%),
	            linear-gradient(180deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 128, 129, 0) 100%),
	            #FE2A2E;
	box-shadow: 0px 3px 1px #E1080C;
	border: none;
	color: #fff;
	font-family: Montserrat;
	font-weight: 700;
	border-radius: 5px;
	white-space: nowrap;
	transition: all 0.2s;
}
.button:hover{
	background: #FE2A2E;
}
.button:active{
	box-shadow: 0px 0 0 #E1080C;
	transform: translateY(3px);
}

.hamburger {
  padding: 15px 15px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible; }
  .hamburger:hover {
    opacity: 0.7; }
  .hamburger.is-active:hover {
    opacity: 0.7; }
  .hamburger.is-active .hamburger-inner,
  .hamburger.is-active .hamburger-inner::before,
  .hamburger.is-active .hamburger-inner::after {
    background-color: #000; }

.hamburger-box {
  width: 30px;
  height: 18px;
  display: block;
  position: relative; }

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px; }
  .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    width: 30px;
    height: 3px;
    background-color: #000;
    border-radius: 0;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease; }
  .hamburger-inner::before, .hamburger-inner::after {
    content: "";
    display: block; }
  .hamburger-inner::before {
    top: -8px; }
  .hamburger-inner::after {
    bottom: -8px; }

.hamburger--spin .hamburger-inner {
  transition-duration: 0.22s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  .hamburger--spin .hamburger-inner::before {
    transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in; }
  .hamburger--spin .hamburger-inner::after {
    transition: bottom 0.1s 0.25s ease-in, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.hamburger--spin.is-active .hamburger-inner {
  transform: rotate(225deg);
  transition-delay: 0.12s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  .hamburger--spin.is-active .hamburger-inner::before {
    top: 0;
    opacity: 0;
    transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out; }
  .hamburger--spin.is-active .hamburger-inner::after {
    bottom: 0;
    transform: rotate(-90deg);
    transition: bottom 0.1s ease-out, transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1); }

.hamburger{
	display: none;
}


.header{
	position: fixed;
	z-index: 10;
	width: 100%;
	height: 80px;
	background: rgba(255, 255, 255, 0.9);
	box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
}
.header__container{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.menu__list{
	display: flex;
}
.menu__link{
	display: block;
	padding: 10px;
	margin-left: 20px;
	transition: color 0.2s;
}
.menu__link:hover{
	color: #FF1519;
}
.menu__phone{
	padding: 10px;
	margin-left: 20px;
	color: #FF1519;
	font-weight: 700;
}

.home{
	background: url(../img/home.jpg) left center / cover;
	padding: 175px 0 100px;
}
.home__intro{
	font-size: 24px;
	margin-bottom: 60px;
	max-width: 700px;
}
.home__button{
	width: 166px;
}
.home__list{
	display: flex;
	flex-wrap: wrap;
	margin-top: 60px;
	margin-left: -15px;
	margin-right: -15px;
}
.benefits{
	width: 25%;
	flex-grow: 1;
	padding: 1px;
	background: url(../img/white-border.jpg) no-repeat top left 100px / 100% 1px,
	            url(../img/white-border.jpg) no-repeat right / 1px 100%,
	            url(../img/white-border.jpg) no-repeat bottom / 100% 1px,
	            url(../img/white-border.jpg) no-repeat top 50px left / 1px 100%,
	            rgba(255, 255, 255, 0.1);
	margin: 15px;
	padding: 12px;
}
.benefits__inner{
	background: rgba(255, 255, 255, 0.8);
	padding: 15px;
	padding-bottom: 5px;
	width: 100%;
	height: 100%;
	font-size: 14px;
}

.products{
	padding: 120px 0 60px;
}
.products__inro{
	max-width: 850px;
}
.products__list{
	display: flex;
	flex-wrap: wrap;
	margin-left: -15px;
	margin-right: -15px;
}
.products__item{
	position: relative;
	width: 25%;
	padding: 15px;
	cursor: pointer;
}
.products__card{
	position: relative;
	background: url(../img/dark-border.jpg) no-repeat top / 100% 1px,
	            url(../img/dark-border.jpg) no-repeat bottom 80px right / 1px 100%,
	            url(../img/dark-border.jpg) no-repeat bottom right 160px / 100% 1px,
	            url(../img/dark-border.jpg) no-repeat left / 1px 100%;
	padding: 15px;
	padding-bottom: 5px;
	width: 100%;
	height: 100%;
	opacity: 0;
	visibility: hidden;
	transition: all 0.3s;
}
.products__price{
	font-size: 20px;
	color: #FE2A2E;
}
.products__button{
	position: absolute;
	width: 122px;
	right: 0;
	bottom: 3px;
}
.products__preview{
	position: absolute;
	top: 50%;
	left: 15px;
	right: 15px;
	height: 120px;
	border: 1px solid rgba(28, 39, 51, 0.3);
	transition: all 0.3s;
}
.preview__inner{
	position: absolute;
	background: #fff;
	left: -1px;
	top: 80px;
	padding-top: 20px;
	padding-right: 20px;
}
.products__img{
	display: flex;
	justify-content: center;
	align-items: flex-end;
	height: 80px;
	position: relative;
	z-index: 2;
}
.products__item:hover .products__preview{
	visibility: hidden;
	opacity: 0;
}
.products__item:hover .products__card{
	visibility: visible;
	opacity: 1;
}
.products__more{
	display: none;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	text-decoration: underline;
	color: #3767CA;
	cursor: pointer;
}

.advantages{
	background: url(../img/advantages.jpg) center / cover;
	padding: 90px 0;
}
.advantages__container{
	display: flex;
	align-items: flex-start;
}
.advantages__text-block{
	width: 100%;
	margin-right: 60px;
}
.advantages__title{
	margin-bottom: 60px;
}
.advantages__item{
	position: relative;
	padding-left: 110px;
	padding-bottom: 30px;
}
.advantages__icon{
	position: absolute;
	left: 0;
	top: 0;
	width: 85px;
	padding: 15px;
	background: url('../img/grey-border.jpg') no-repeat top right 17px / 100% 1px,
	            url('../img/grey-border.jpg') no-repeat top 37px right / 1px 100%,
	            url('../img/grey-border.jpg') no-repeat bottom / 100% 1px,
	            url('../img/grey-border.jpg') no-repeat left / 1px 100%;
}
.advantages__icon img{
	width: 100%;
}

.feedback{
	width: 625px;
	flex-shrink: 0;
	padding: 40px;
	background: #1C2733;
	color: #fff;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}
.feedback__title{
	font-family: Montserrat;
	font-weight: bold;
	font-size: 20px;
	line-height: 1.2;
	margin-bottom: 10px;
}
.feedback__input{
	display: block;
	width: 100%;
	background-color: transparent;
	border: none;
	border-bottom: 1px solid #FFFFFF;
	padding: 10px 0;
	font-family: 'Lato', sans-serif;
	font-size: 14px;
	color: #fff;
	margin-bottom: 20px;
}
.feedback__batton{
	width: 264px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 40px;
	margin-bottom: 40px;
}
.feedback__batton::before{
	content: '\f1d8 ';
	font-family: FontAwesome;
	font-size: 24px;
	margin-right: 15px;
}

.feedback__checkbox{
	font-size: 12px;
	color: rgba(255, 255, 255, 0.8);
}
.feedback input[type="checkbox"] {
	display: none;
}
.feedback__checkbox label{
	position: relative;
	display: block;
	padding-left: 30px;
	font-weight: 400;
	cursor: pointer;
}
.feedback__checkbox label::before{
	content: '';
	font-family: FontAwesome;
	display: block;
	box-sizing: border-box;
	width: 20px;
	height: 20px;
	border: 1px solid rgba(255, 255, 255, 0.2);
	position: absolute;
	left: 0;
	top: 50%;
	margin-top: -10px;
	padding: 1px 3px;
}
.feedback input[type="checkbox"]:checked + label::before{
	content: '\f00c';
}
.privacy-policy{
	text-decoration: underline;
}

.about-us{
	padding-top: 130px;
	overflow-x: hidden;
}
.about-us__container{
	display: flex;
}
.about-us__text-block{
	flex-grow: 1;
}
.about-us__title{
	margin-bottom: 60px;
}
.about-us__item{
	margin-bottom: 40px;
}

.about-us__images-block{
	position: relative;
	width: 460px;
	flex-shrink: 0;
	margin-left: 30px;
}
.about-us__city{
	max-width: none;
}
.about-us__men{
	position: absolute;
	top: 175px;
	right: 0;
	z-index: 2;
	background: rgba(23, 23, 23, 0.1);
}

.about-us__item .number{
	position: relative;
}
.about-us__item .number::before{
	position: absolute;
	top: -16px;
	left: -30px;
	content: '1';
	font-family: 'Montserrat';
	font-weight: 900;
	font-size: 140px;
	line-height: 1;
	color: rgba(254, 42, 46, 0.15);
}
.about-us__item:nth-of-type(2) .number::before{
	content: '2'
}
.about-us__item:nth-of-type(3) .number::before{
	content: '3'
}

.how-we-work{
	padding-top: 90px;
	padding-bottom: 90px;
}
.how-we-work__list{
	display: flex;
	margin-left: -15px;
	margin-right: -15px;
	margin-top: 60px;
}
.how-we-work__item{
	position: relative;
	padding: 15px;
}
.how-we-work__item:nth-child(1)::after,
.how-we-work__item:nth-child(2)::after{
	position: absolute;
	bottom: 10%;
	right: -80px;
	content: '\f04e';
	font-family: FontAwesome;
	font-size: 140px;
	color: rgba(254, 42, 46, 0.15);
}
.how-we-work__title{
	display: flex;
	align-items: center;
	margin-bottom: 20px;
}
.how-we-work__title .item-title{
	margin-bottom: 0;
}
.how-we-work__icon{
	padding: 15px;
	margin-right: 15px;
	background: url('../img/grey-border.jpg') no-repeat top  / 100% 1px,
	            url('../img/grey-border.jpg') no-repeat right / 1px 100%,
	            url('../img/grey-border.jpg') no-repeat bottom left 37px / 100% 1px,
	            url('../img/grey-border.jpg') no-repeat bottom 17px left / 1px 100%;
}

.application{
	overflow-x: hidden;
	background: url('../img/application-bg.jpg') center / cover;
}
.application__container{
	position: relative;
	padding: 80px 0;
}
.application__image{
	position: absolute;
	max-width: none;
	left: -130px;
	right: -130px;
	bottom: 0;
}
.application__feedback{
	position: relative;
	z-index: 2;
}

.footer{
	padding: 15px 0;
}
.footer__row{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 15px 0;
}
.footer-menu{
	display: flex;
}
.footer-menu__link{
	padding: 5px 30px;
	border-left: 1px solid rgba(0, 0, 0, 0.3);
	transition: color 0.3s;
}
.footer-menu__link:first-child{
	padding-left: 0;
	border: none;
}
.footer-menu__link:last-child{
	padding-right: 0;
}
.footer-menu__link:hover{
	color: #FE2A2E;
}

.footer__intro{
	font-size: 14px;
}
.contacts{
	display: flex;
}
.contacts__item{
	margin-left: 30px;
}
.contacts__item:first-child{
	margin-left: 0;
}
.contacts__item::before{
	font-family: FontAwesome;
	color: #FE2A2E;
	margin-right: 10px;
}
.contacts__address::before{
	content: '\f041';
	font-size: 18px;
}
.contacts__phone::before{
	content: '\f095';
	font-size: 18px;
}
.contacts__email::before{
	content: '\f0e0';
	font-size: 14px;
}

.popup{
	position: fixed;
	z-index: 20;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgba(255, 255, 255, 0.85);
	visibility: hidden;
	opacity: 0;
	transition: all 0.5s;
}
.popup__feedback{
	position: relative;
}
.popup__close{
	position: absolute;
	top: 20px;
	right: 20px;
	display: block;
	cursor: pointer;
	background: none;
	border: none;
}
.popup_active{
	opacity: 1;
	visibility: visible;
}

@media only screen and (max-width: 1600px){
	.application__image{
		display: none;
	}
}
@media only screen and (max-width: 1200px){
	.container{
		max-width: 960px;
	}
	.main-title{
		font-size: 40px;
	}
	.menu__link,
	.menu__phone{
		margin-left: 0px;
	}
	.products{
		padding: 90px 0 60px;
	}
	.products__item{
		width: 33%;
	}
	.advantages__feedback{
		width: 50%;
	}

	.footer-menu__link{
		padding: 5px 15px;
		border-left: none;
	}
	.contacts{
		font-size: 14px;
	}
}

@media only screen and (max-width: 992px){
	.container{
		max-width: 720px;
	}

	.main-title{
		font-size: 32px;
	}
	.section-title{
		font-size: 24px;
	}
	.item-title{
		font-size: 16px;
	}

	.header{
		height: 60px;
	}
	.menu{
		position: absolute;
		top: 60px;
		left: 0;
		width: 100%;
		height: 0;
		overflow: hidden;
		background: rgba(255, 255, 255, 0.9);
		box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
		transition: height 0.3s;
	}
	.menu__list{
		flex-direction: column;
		align-items: center;
		padding: 10px;
	}
	.hamburger{
		display: block;
	}

	.home__intro{
		font-size: 20px;
	}

	.products__item{
		width: 50%;
	}

	.advantages__container{
		flex-direction: column;
	}
	.advantages__text-block{
		margin-bottom: 60px;
	}

	.feedback{
		width: 100%;
	}

	.about-us{
		padding-top: 90px;
	}
	.about-us__images-block{
		display: none;
	}

	.how-we-work{
		padding-top: 60px;
		padding-bottom: 60px;
	}

	.footer__row{
		flex-direction: column;
	}
	.footer__intro{
		display: none;
	}
	.footer-menu{
		margin-top: 20px;
	}
}

@media only screen and (max-width: 768px){
	.container{
		max-width: 540px;
	}

	.main-title{
		text-align: center;
	}
	.marker_small{
		padding-left: 0;
	}
	.marker_small::before{
		display: none;
	}
	.benefits{
		display: none;
	}
	.products__preview{
		display: none;
	}
	.products__card{
		font-size: 14px;
	}
	.products__card{
		visibility: visible;
		opacity: 1;
	}

	.feedback__batton{
		width: 200px;
		margin-left: auto;
		margin-right: auto;
	}
	.feedback__batton::before{
		display: none;
	}

	.how-we-work__list{
		flex-direction: column;
	}
	.how-we-work__item::after{
		display: none;
	}

	.footer-menu{
		flex-direction: column;
		align-items: center;
	}
	.footer-menu__link:first-child,
	.footer-menu__link:last-child{
		padding: 5px 15px;
	}
	.contacts{
		flex-direction: column;
		align-items: center;
		background: url('../img/grey-border.jpg') no-repeat top center / 68px 1px;
		padding-top: 15px;
		margin-top: -15px;
	}
	.contacts__item{
		margin-left: 0;
		margin-bottom: 5px;
	}
	.contacts__address{
		order: 2;
	}
}
@media only screen and (max-width: 576px){
	.header,
	.home,
	.products,
	.advantages,
	.about-us,
	.how-we-work,
	.footer{
		padding-left: 20px;
		padding-right: 20px;
	}

	.main-title{
		font-size: 28px;
	}
	.section-title{
		font-size: 18px;
	}

	.home__button{
		margin-left: auto;
		margin-right: auto;
	}

	.products{
		padding-top: 60px;
	}
	.products__item{
		width: 100%;
	}
	.products__preview .products__price{
		display: none;
	}
	.products__item:nth-child(n + 5){
		height: 0px;
		overflow: hidden;
		padding: 0;
		opacity: 0;
		transition: opacity 0.2s;
	}
	.products__more{
		display: block;
	}
	.products__more_hidden{
		display: none;
	}
	.products__item_open:nth-child(n + 5){
		height: auto;
		overflow: visible;
		padding: 15px;
		opacity: 1;
	}

	.advantages{
		padding-top: 60px;
		padding-bottom: 0;
	}

	.advantages__item{
		padding-left: 80px;
	}
	.advantages__item:last-child{
		padding-bottom: 0;
	}
	.advantages__icon{
		width: 60px;
		padding: 10px;
		background: url('../img/grey-border.jpg') no-repeat top right 10px / 100% 1px,
		            url('../img/grey-border.jpg') no-repeat top 30px right / 1px 100%,
		            url('../img/grey-border.jpg') no-repeat bottom / 100% 1px,
		            url('../img/grey-border.jpg') no-repeat left / 1px 100%;
	}

	.advantages__feedback{
		margin-left: -20px;
		margin-right: -20px;
		width: auto;
	}
	.feedback{
		padding: 20px;
	}

	.about-us{
		padding-top: 60px;
	}
	.about-us__title{
		margin-bottom: 40px;
	}

	.how-we-work{
		padding-bottom: 40px;
	}
	.how-we-work__list{
		margin-top: 40px;
	}

	.application__container{
		padding: 0;
	}
}
@media only screen and (max-width: 350px){
	.main-title{
		font-size: 24px;
	}
}