*{
  box-sizing: border-box;
}
img{
  max-width: 100%;
  display: block;
}
body{
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  color: #fff;
  background: #0e1321 url(../img/bg.jpg) center / cover;
}
.first-screen{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  overflow-x: hidden;
}
.top-image{
  min-width: 600px;
}
.first-screen h1{
  margin-top: 50px;
  margin-bottom: 30px;
  font-size: 60px;
  font-weight: 400;
  color: #98cb00;
}
.first-screen p{
  font-size: 30px;
  margin-top: 0;
  margin-bottom: 50px;
}
.first-screen .links{
  display: flex;
  margin-bottom: 50px;
}
.first-screen .links a{
  display: inline-block;
  border-radius: 50%;
  box-shadow: 1px 2px 8px 2px rgba(0,0,0,1);
}
.first-screen .links a:not(:last-child){
  margin-right: 60px;
}
.first-screen .game-image{
  display: inline-block;
  margin-bottom: 80px;
  box-shadow: 1px 2px 8px 2px rgba(0,0,0,1);
}