@font-face {
	font-family: 'Neo Sans Pro';
	src: url('../fonts/NeoSansPro-Medium.eot');
	src: local('../fonts/Neo Sans Pro Medium'), local('NeoSansPro-Medium'),
		url('../fonts/NeoSansPro-Medium.eot?#iefix') format('embedded-opentype'),
		url('../fonts/NeoSansPro-Medium.woff') format('woff'),
		url('../fonts/NeoSansPro-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'Neo Sans Pro';
	src: url('../fonts/NeoSansPro-Regular.eot');
	src: local('../fonts/Neo Sans Pro'), local('NeoSansPro-Regular'),
		url('../fonts/NeoSansPro-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/NeoSansPro-Regular.woff') format('woff'),
		url('../fonts/NeoSansPro-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Neo Sans Pro Ultra';
	src: url('../fonts/NeoSansPro-Ultra.eot');
	src: local('../fonts/Neo Sans Pro Ultra'), local('NeoSansPro-Ultra'),
		url('../fonts/NeoSansPro-Ultra.eot?#iefix') format('embedded-opentype'),
		url('../fonts/NeoSansPro-Ultra.woff') format('woff'),
		url('../fonts/NeoSansPro-Ultra.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}

*{
    box-sizing: border-box;
    font-family: inherit;
}
img{
	max-width: 100%;
	height: auto;
}
body{
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 16px;
	color: #2d2d2d;
	line-height: 1.2;
	margin: 0;
	overflow-x: hidden;
}

.container{
	position: relative;
}
.section{
	margin-top: 100px;
	margin-bottom: 100px;
}
.section-title{
	position: relative;
	font-size: 30px;
	padding-bottom: 10px;
	text-align: center;
	margin-bottom: 40px;
}
.section-title::after{
	content: '';
	display: block;
	position: absolute;
	height: 1px;
	width: 63%;
	right: 0;
	bottom: 0;
	background-color: #1E1D1D;
}
.section-list{
	list-style: none;
	margin-left: 20px;
	padding-left: 0;
	position: relative;
}
.section-list::before{
	content: '';
	display: block;
	position: absolute;
	left: 0;
	top: 10px;
	bottom: 10px;
	width: 1px;
	background-color: #0086C8;
}
.section-list li{
	position: relative;
	padding-left: 20px;
	margin-bottom: 20px;
}
.section-list li::before{
	content: '';
	display: block;
	position: absolute;
	left: -4px;
	top: 6px;
	width: 9px;
	height: 9px;
	border-radius: 4px;
	background-color: #0086C8;
}
.section-list li:last-child::before{
	bottom: 6px;
	top: auto;
}

.slick-dots{
	display: flex;
	align-items: flex-end;
	margin: 0;
	padding: 0;
	font-family: 'Neo Sans Pro';
}
.slick-dots li{
	display: block;
	border-bottom: 1px solid rgba(0,0,0, 0.5);
}
.slick-dots .slick-active{
	border-bottom: 3px solid #EE7F00;
}
.slick-dots button{
	border: none;
	background: none;
	cursor: pointer;
	padding: 5px 10px;
	font-size: 15px;
	color: rgba(0, 0, 0, 0.5);
	transition: color 0.2s;
}
.slick-dots .slick-active button{
	font-size: 20px;
	font-weight: 900;
}
.slick-dots button:hover{
	color: rgba(0, 0, 0, 1);
}
.slick-dots button:before{
	content: '0';
}

.hamburger {
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible; }
  .hamburger:hover {
    opacity: 0.7; }
  .hamburger.is-active:hover {
    opacity: 0.7; }
  .hamburger.is-active .hamburger-inner,
  .hamburger.is-active .hamburger-inner::before,
  .hamburger.is-active .hamburger-inner::after {
    background-color: #0086C8; }

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative; }

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px; }
  .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    width: 40px;
    height: 4px;
    background-color: #0086C8;
    border-radius: 0;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease; }
  .hamburger-inner::before, .hamburger-inner::after {
    content: "";
    display: block; }
  .hamburger-inner::before {
    top: -10px; }
  .hamburger-inner::after {
    bottom: -10px; }
.hamburger--spin .hamburger-inner {
  transition-duration: 0.22s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  .hamburger--spin .hamburger-inner::before {
    transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in; }
  .hamburger--spin .hamburger-inner::after {
    transition: bottom 0.1s 0.25s ease-in, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.hamburger--spin.is-active .hamburger-inner {
  transform: rotate(225deg);
  transition-delay: 0.12s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  .hamburger--spin.is-active .hamburger-inner::before {
    top: 0;
    opacity: 0;
    transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out; }
  .hamburger--spin.is-active .hamburger-inner::after {
    bottom: 0;
    transform: rotate(-90deg);
    transition: bottom 0.1s ease-out, transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1); }

/* Header */

.header{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 10;
	padding-top: 50px;
}
.main-menu ul{
	display: flex;
	margin: 0;
}
.main-menu li{
	display: block;
	margin-right: 20px;
	border-bottom: 1px solid transparent;
	transition: border 0.2s;
}
.main-menu li:last-child{
	margin-right: 0;
}
.main-menu a{
	display: block;
	color: #F8F8F8;
	text-decoration: none;
	font-size: 18px;
	padding: 5px;
}
.main-menu li:hover,
.main-menu li.active{
	border-bottom: 1px solid #F8F8F8;
}

/* Первый экран */

.first-screen{
	position: relative;
	background: #F8F8F8;
	font-size: 18px;
	padding: 100px 0 50px;
}
.first-screen::before{
	content: '';
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 50%;
	background: #0086C8 url(../img/first-linework.png) no-repeat top right;
	margin-left: -185px;
}
.bg-orange::before{
	background-color: #EE7F00;
}
.first-screen__product{
	display: inline-block;
	margin: 0;
	position: absolute;
	left: 0;
	top: 40px;
	transform-origin: right top;
	transform: translateX(-100%) rotate(-90deg);
	font-size: 50px;
	color: rgba(238, 127, 0, 0.5);
	line-height: 1;
}
.first-screen__product::after{
	content: '';
	display: block;
	width: 100%;
	height: 1px;
	position: absolute;
	top: -15px;
	left: 150px;
	border: 1px solid #EE7F00;
}
.first-screen__image{
	display: flex;
	align-items: center;
	justify-content: flex-end;
	height: 100%;
}
.first-screen__product ~ .first-screen__image{
	padding-left: 100px;
}
.first-slider .slick-list{
	overflow: visible;
}
.offer{
	padding-top: 100px;
	padding-bottom: 100px;
	color: #F8F8F8;
}
.offer h1{
	font-size: 22px;
	font-weight: 400;
	border-bottom: 1px solid #F8F8F8;
	margin-bottom: 20px;
	margin-top: 0;
}
.offer h1 strong{
	font-size: 50px;
	font-weight: 700;
	text-transform: uppercase;
}
.offer p{
	margin-bottom: 20px;
	margin-top: 0;
	max-width: 380px;
}
.offer__button{
	border: 2px solid #F8F8F8;
	background: #F8F8F8;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 270px;
	height: 60px;
	margin-top: 50px;
	border-radius: 10px;
	color: #0086C8;
	font-size: 20px;
	font-family: inherit;
	font-weight: 700;
	text-transform: uppercase;
	text-decoration: none;
	cursor: pointer;
	transition: all 0.3s;
}
.offer__button:hover{
	background: transparent;
	color: #F8F8F8;
}
.button_orange{
	border: 2px solid #F2994A;
	background: #F2994A;
	color: #F8F8F8;
}
.button_orange:hover{
	color: #F2994A;
}
.contacts-button{
	background: #0086C8;
	border: none;
	color: #F8F8F8;
}
.contacts-button::before{
	content: '';
	display: inline-block;
	margin-right: 15px;
	width: 18px;
	height: 18px;
	background: url(../img/icons/phone-white.png) center / cover;
}
.contacts-button:hover{
	background-color: #F8F8F8;
	color: #0086C8;
}
.contacts-button:hover::before{
	background: url(../img/icons/phone-blue.png) center / cover;
}

.phone{
	color: #F8F8F8;
	font-size: 18px;
	font-weight: 700;
	margin-bottom: 10px;
	text-align: right;
}
.call{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 44px;
	border: 1px solid #F8F8F8;
	background: transparent;
	padding: 0 30px 0 15px;
	border-radius: 10px;
	color: #F8F8F8;
	font-size: 16px;
	font-family: inherit;
	font-weight: 700;
	text-decoration: none;
	cursor: pointer;
	transition: all 0.3s;
	margin-left: auto;
}
.call::before{
	content: '';
	display: inline-block;
	margin-right: 15px;
	width: 16px;
	height: 16px;
	background: url(../img/icons/phone-white.png) center / cover;
}
.call:hover{
	background: #F8F8F8;
	color: #0086C8;
}
.call:hover::before{
	background: url(../img/icons/phone-blue.png) center / cover;
}
.button-skroll{
	margin-left: auto;
	margin-right: auto;
	display: block;
	height: 45px;
	width: 44px;
	border: none;
	background: url(../img/icons/scroll.png) no-repeat center / contain;
	cursor: pointer;
}

/* Категории */

.category .col-lg-12{
	margin-bottom: 30px;
}
.category__card{
	display: flex;
	flex-direction: column;
	position: relative;
	background: #F8F8F8;
	box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
	border-radius: 10px;
	padding: 30px 40px;
	color: inherit;
	text-decoration: none;
	height: 100%;
}
.category__card h3{
	font-size: 25px;
	margin-top: 0;
}
.category__price{
	font-size: 20px;
	margin-top: auto;
	position: relative;
	z-index: 2
}
.category__price strong{
	position: relative;
	display: inline-block;
	font-size: 18px;
	line-height: 1;
	font-weight: 700;
	padding: 10px 20px;
	background: #EE7F00;
	border-radius: 10px;
	color: #F8F8F8;
	margin-left: 20px;
}
.category__price strong::before{
	content: '';
	display: block;
	position: absolute;
	top: -10px;
	right: -10px;
	bottom: -10px;
	left: -10px;
	border-radius: 16px;
	background: rgba(238, 127, 0, 0.18);
}
.category__more{
	display: flex;
	align-items: center;
	position: relative;
	margin-top: 60px;
	margin-bottom: 0;
	font-size: 18px;
	color: inherit;
	text-decoration: none;
}
.category__more::after{
	content: '';
	display: block;
	width: 18px;
	height: 18px;
	margin-left: 30px;
	background: url(../img/icons/arrow-right-orange.png) center / cover;
}
.category__image_1{
	position: absolute;
	right: 0;
	bottom: 20px;
	width: 445px;
}
.category__image_2{
	position: absolute;
	right: 0;
	bottom: 50px;
	width: 120px;
}
.category__image_3{
	position: absolute;
	right: 0px;
	bottom: 50px;
	width: 200px;
}
.category__image_4{
	position: absolute;
	bottom: 200px;
	right: 10px;
	width: 320px;
}

/* О компании */

.about-us h2{
	font-size: 30px;
	margin-top: 0;
	margin-bottom: 50px;
}
.about-us__card{
	display: flex;
	position: relative;
	background: #F8F8F8;
	box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
	border-radius: 10px;
	padding: 0;
	overflow: hidden;
}
.about-us__image{
	position: relative;
	width: 300px;
	height: 450px;
	flex-shrink: 0;
	background: url('../img/about-us/about-us-1.jpg') no-repeat right / auto 100%;
}
.about-us__image::before{
	content: '';
	display: block;
	height: 100%;
	width: 52px;
	background-color: #0086C8;
}
.about-us__image::after{
	content: 'History';
	font-weight: bold;
	font-size: 50px;
	letter-spacing: 0.25em;
	text-transform: uppercase;
	color: #F8F8F8;
	opacity: 0.25;
	position: absolute;
	bottom: 0;
	left: 0;
	transform: rotate(-90deg) translateX(-55px);
	transform-origin: top left;
}
.about-us__text{
	padding: 30px;
	padding-bottom: 10px;
}

.about-us h3{
	font-size: 20px;
	margin-top: 0;
	color: #1E1D1D;
}

.about-us__items{
	display: flex;
	flex-direction: column;
	height: 100%;
}
.about-us__link_1,
.about-us__link_2{
	display: block;
	height: 100%;
	background-color: #F8F8F8;
	border-radius: 10px;
	padding: 20px;
	text-decoration: none;
}
.about-us__link_1{
	margin-bottom: 30px;
	background: url(../img/about-us/about-us-2.jpg) bottom right / cover;
}
.about-us__link_2{
	background: url(../img/about-us/about-us-3.jpg) top center / cover;
}

/* Новинки */

.novelty{
	position: relative;
	background: #F8F8F8;
	padding: 100px 0;
}
.novelty::before{
	content: '';
	display: block;
	position: absolute;
	top: 0;
	right: 50%;
	bottom: 0;
	left: 0;
	background: #0086C8 url(../img/first-linework.png) no-repeat top right;
	margin-right: 150px;
}
.novelty__container{
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
}
.novelty h2{
	font-size: 30px;
	color: #F8F8F8;
	font-weight: 400;
	margin-bottom: 0;
	margin-top: 0;
	max-width: 140px;
}
.novelty__more{
	display: flex;
	align-items: center;
	font-size: 18px;
	color: #F8F8F8;
	text-decoration: none;
}
.novelty__more::after{
	content: '';
	display: block;
	width: 18px;
	height: 18px;
	margin-left: 30px;
	background: url(../img/icons/arrow-right-orange.png) center / cover;
}
.novelty__nav .slick-dots li{
	border-bottom: 1px solid #F8F8F8;
}
.novelty__nav .slick-dots li.slick-active{
	border-bottom: 3px solid #EE7F00;
}
.novelty__nav .slick-dots button{
	color: #F8F8F8;
}
.novelty__nav .slick-arrow{
	width: 46px;
	height: 46px;
	border: 1px solid #F8F8F8;
	border-radius: 50%;
	cursor: pointer;
	transition: all 0.3s;
	margin-bottom: 20px;
}
.novelty__nav .slick-arrow:hover{
	border: 1px solid #EE7F00;
	background-color: #EE7F00;
}
.novelty__nav .slick-prev{
	background: transparent url('../img/icons/arrow-left.png') no-repeat center / 24px;
	margin-right: 30px;
}
.novelty__nav .slick-next{
	background: transparent url('../img/icons/arrow-right.png') no-repeat center / 24px;
}
.novelty__slider{
	position: absolute;
	width: 100%;
	left: 25%;
	top: 0;
}
.novelty__slider .slick-slide{
	padding: 0 15px 15px;
}
.product-card{
	position: relative;
	background-color: #FFFFFF;
	border-radius: 10px;
	box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
	padding: 60px 30px 30px;
	overflow: hidden;
}
.product-card_new::before{
	content: 'Новинка';
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	background: #EE7F00;
	padding: 5px 30px;
	font-size: 18px;
	text-transform: uppercase;
	color: #F8F8F8;
}
.product-card_discount::before{
	content: 'Акция';
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	background: #0086C8;
	padding: 5px 30px;
	font-size: 18px;
	text-transform: uppercase;
	color: #F8F8F8;
}
.product-card::after{
	content: '';
	position: absolute;
	top: 5px;
	right: 10px;
	display: block;
	width: 24px;
	height: 24px;
	background: url('../img/icons/heart.png') center / cover;
	cursor: pointer;
}
.product-card h3{
	font-size: 18px;
	font-weight: 400;
	margin-top: 0;
}
.product-card__artikul{
	font-size: 13px;
	margin-top: 0;
	margin-bottom: 0;
	opacity: 0.5;
}
.product-card__image{
	max-height: 126px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 40px;
}
.product-card__price{
	display: flex;
	align-items: center;
	font-size: 18px;
	margin-bottom: 0;
}
.product-card__price::before{
	content: '';
	display: inline-block;
	width: 22px;
	height: 22px;
	background: url(../img/icons/check.png) center / cover;
	margin-right: 5px;
}
.product-card .button{
	display: inline-block;
	font-weight: 700;
	text-transform: uppercase;
	border-radius: 10px;
	border: 2px solid #EE7F00;
	padding: 2px 10px;
	margin-left: auto;
	background: transparent;
	cursor: pointer;
	transition: background 0.3s;
}
.product-card .button:hover{
	background: #EE7F00;
}

/* Заявка */
.application{
	font-family: 'Neo Sans Pro';
	padding-bottom: 100px;
	background: url(../img/linework-orange-inverted.png) no-repeat bottom left;
}
.novelty ~ .application{
	padding-top: 100px;
	background: url(../img/linework-orange.png) no-repeat top right,
	            url(../img/linework-orange-inverted.png) no-repeat bottom left;

}
.application h2{
	font-size: 30px;
	font-weight: 500;
	text-transform: uppercase;
	text-align: center;
	margin-top: 0;
	margin-bottom: 50px;
}
.application__form label{
	display: block;
	font-size: 22px;
	font-weight: 500;
}
.application__form input{
	padding: 5px 0;
	background: none;
	border: none;
	font-size: 22px;
	border-bottom: 1px solid #1E1D1D;
	width: 100%;
	margin-top: 20px;
}
.application__form button{
	display: block;
	width: 100%;
	padding: 15px 0;
	background: #EE7F00;
	border: 2px solid #EE7F00;
	color: #F8F8F8;;
	border-radius: 10px;
	font-weight: 500;
	font-size: 22px;
	text-transform: uppercase;
	cursor: pointer;
	transition: all 0.3s;
}
.application__form button:hover{
	background: transparent;
	color: #EE7F00;
}

.footer{
	background: #0086C8;
	padding: 40px 0;
	color: #F8F8F8;
}
.footer h3{
	font-size: 16px;
	font-weight: 700;
	margin-top: 0;
	margin-bottom: 20px;
}
.footer ul{
	display: block;
	padding: 0;
}
.footer li{
	display: block;
	margin-bottom: 10px;
}
.footer a{
	color: inherit;
	text-decoration: none;
}
.footer a:hover{
	text-decoration: underline;
}

.catalog .col-xl-3{
	margin-bottom: 30px;
}

.specifications{
	padding: 100px 0;
	background: #0086C8 url(../img/first-linework.png) no-repeat top right;
	color: #F8F8F8;
	text-align: center;
}
.specifications h2{
	font-size: 30px;
	margin-top: 0;
}
.specifications .col-lg-3{
	display: flex;
	flex-direction: column;
	border-left: 1px solid #F8F8F8;
}
.specifications .col-lg-3:first-child{
	border-left: none;
}
.specification-value{
	font-weight: 300;
	font-size: 40px;
	margin-top: auto;
}

.features__item{
	position: relative;
	margin-left: 90px;
	border-bottom: 1px solid #0086C8;
	padding-right: 120px;
}
.features__item::before{
	content: '';
	display: block;
	position: absolute;
	right: -5px;
	bottom: -5px;
	width: 9px;
	height: 9px;
	border-radius: 50%;
	background-color: #0086C8;
}
.features__item h3{
	font-size: 25px;
	text-transform: uppercase;
}
.features__image{
	position: absolute;
	top: 10px;
	left: -90px;
	width: 70px;
	height: 70px;
}

.contacts__item{
	position: relative;
	padding-left: 45px;
	margin-bottom: 20px;
}
.contacts__item:last-child{
	margin-bottom: 0;
}
.contacts__item h3{
	font-size: 18px;
	text-transform: uppercase;
	margin-top: 0;
	margin-bottom: 0;
}
.contacts__item p{
	margin-top: 0;
	margin-bottom: 0;
}
.contact__image{
	position: absolute;
	left: 0;
	top: 0;
}

.map{
	height: 100%;
	max-height: 400px;
}

.question h3{
	display: flex;
	align-items: center;
	font-weight: bold;
	font-size: 22px;
}
.question h3:before{
	content: '';
	display: inline-block;
	width: 32px;
	height: 32px;
	background: url(../img/question-min.png) center / cover;
	margin-right: 20px;
}

.discount-slider{
	background: #FFFFFF;
	box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
	border-radius: 10px;
	padding: 80px 0;
	margin: 50px 0;
}
.discount-slider__item{
	padding: 0 60px;
}
.discount-slider h1{
	font-size: 22px;
	font-weight: 400;
	border-bottom: 1px solid #2d2d2d;
	margin-bottom: 20px;
	margin-top: 0;
}
.discount-slider h1 strong{
	font-size: 50px;
	font-weight: 700;
	text-transform: uppercase;
}
.discount-slider__image{
	padding: 0 60px;
}
.discount-slider .slick-arrow{
	position: absolute;
	z-index: 2;
	top: 50%;
	margin-top: -22px;
	width: 44px;
	height: 44px;
	border: none;
	cursor: pointer;
}
.discount-slider .slick-prev{
	left: 20px;
	background: url(../img/icons/arrow-prev.png) center / cover;
}
.discount-slider .slick-next{
	right: 20px;
	background: url(../img/icons/arrow-next.png) center / cover;
}

.popup{
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgba(45, 45, 45, 0.5);
	z-index: 20;
	transition: all 0.5s;
}
.popup__container{
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	background: #F8F8F8;
	box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
	border-radius: 10px;
	padding: 60px;
}
.popup__form label{
	display: block;
	font-size: 22px;
	font-weight: 500;
	text-align: center;
	margin-bottom: 30px;
}
.popup__form input{
	padding: 5px 0;
	background: none;
	border: none;
	font-size: 22px;
	border-bottom: 1px solid #1E1D1D;
	width: 100%;
}
.popup__form button{
	display: block;
	width: 100%;
	padding: 15px 0;
	background: #EE7F00;
	border: 2px solid #EE7F00;
	color: #F8F8F8;;
	border-radius: 10px;
	font-weight: 500;
	font-size: 22px;
	text-transform: uppercase;
	cursor: pointer;
	transition: all 0.3s;
}
.popup__form button:hover{
	background: transparent;
	color: #EE7F00;
}
.popup_hidden{
	opacity: 0;
	visibility: hidden;
}
.button-close{
	content: '';
	position: absolute;
	top: 15px;
	right: 15px;
	display: block;
	width: 32px;
	height: 32px;
	background: url(../img/icons/close.png) center / cover;
	border: none;
	cursor: pointer;
}

@media only screen and (max-width: 1200px){
	.main-menu a{
		font-size: 16px;
	}

	.first-screen__product{
		font-size: 40px;
	}
	.offer{
		padding-top: 80px;
		padding-bottom: 80px;
	}
	.offer__button{
		padding: 10px 20px;
		margin-top: 40px;
		font-size: 18px;
	}

	.category__card{
		padding: 20px;
	}
	.category__card h3{
		font-size: 20px;
	}
	.category__image_1{
		position: absolute;
		right: 0;
		bottom: 20px;
		width: 350px;
	}
	.category__image_2{
		position: absolute;
		right: 0;
		bottom: 50px;
		width: 100px;
	}
	.category__image_3{
		position: absolute;
		right: 0px;
		bottom: 50px;
		width: 180px;
	}
	.category__image_4{
		position: absolute;
		width: 260px;
	}

	.about-us__card{
		margin-bottom: 30px;
	}
	.about-us__items{
		flex-direction: row;
	}
	.about-us__link_1,
	.about-us__link_2{
		width: 50%;
		height: 240px;
	}
	.about-us__link_1{
		margin-right: 30px;
		margin-bottom: 0;
	}

	.application__form label{
		margin-bottom: 40px;
	}
	.application__form button{
		padding: 10px 20px;
		font-size: 18px;
	}
}

@media only screen and (max-width: 992px){
	.header{
		position: relative;
		background-color: #fff;
		padding: 20px 0;
	}
	.hamburger{
		float: right;
	}
	.main-menu{
		overflow: hidden;
		height: 0;
		transition: height 0.3s;
	}
	.main-menu ul{
		padding-left: 0;
		padding-top: 20px;
	}
	.main-menu a{
		color: #0086C8;
	}
	.main-menu li:hover,
	.main-menu li.active{
		border-bottom: 1px solid #0086C8;
	}
	
	.first-screen{
		background: #0086C8 url(../img/first-linework.png) no-repeat top right;
	}
	.bg-orange{
		background-color: #EE7F00;
	}
	.first-screen::before{
		display: none;
	}
	.first-screen__product{
		display: none;
	}
	.first-screen__product ~ .first-screen__image{
		padding-left: 0;
	}
	.first-slider__nav .slick-dots li{
		border-bottom: 1px solid #F8F8F8;
	}
	.first-slider__nav .slick-dots li.slick-active{
		border-bottom: 3px solid #EE7F00;
	}
	.first-slider__nav .slick-dots button{
		color: #F8F8F8;
	}
	.offer{
		padding-top: 0;
		padding-bottom: 50px;
	}

	.offer h1{
		font-size: 20px;
	}
	.offer h1 strong{
		font-size: 36px;
	}

	.category [class|="col"]{
		margin-bottom: 30px;
	}
	.category [class|="col"]:last-child{
		margin-bottom: 0;
	}
	.category__image_1,
	.category__image_2,
	.category__image_3,
	.category__image_4{
		width: auto;
		height: 80%;
		bottom: 10px;
		right: 0px;
	}

	.about-us__card{
		background: none;
		box-shadow: none;
		margin-bottom:60px;
	}
	.about-us__image{
		border-radius: 10px;
		overflow: hidden;
	}
	.about-us__text{
		padding: 0;
		margin-left: 30px;
	}

	.novelty{
		padding: 60px 0;
		background: #0086C8 url(../img/first-linework.png) no-repeat top right;
	}
	.novelty::before{
		display: none;
	}
	.novelty__slider{
		position: relative;
		left: 0;
	}
	.novelty__slider .product-card{
		margin-bottom: 30px;
	}
	.novelty h2{
		max-width: none;
		margin-bottom: 30px;
	}
	.novelty__nav{
		align-self: center;
		margin-bottom: 30px;
	}
	.application__form button{
		width: auto;
		margin-left: auto;
		margin-right: auto;
	}

	.specifications .col-lg-3{
		padding: 0 30px 15px;
	}
	.specifications .col-lg-3:nth-child(1),
	.specifications .col-lg-3:nth-child(2){
		margin-bottom: 30px;
	}
	.specifications .col-lg-3:nth-child(3){
		border-left: none;
	}

	.discount-slider{
		margin-top: 0;
		padding-top: 40px;
		padding-bottom: 40px;
	}
	.discount-slider__image{
		max-width: 350px;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 30px;
	}
}
@media only screen and (max-width: 768px){
	.main-menu ul{
		flex-direction: column;
	}

	.first-screen{
		padding-top: 20px;
	}
	.offer{
		padding-left: 0;
		padding-bottom: 0;
	}
	.first-slider__item,
	.first-screen__image{
		max-height: 200px;
	}
	.first-screen__image img{
		max-height: 100%;
		margin-left: auto;
	}
	.section{
		margin-top: 60px;
		margin-bottom: 60px;
	}

	.about-us h2{
		text-align: center;
	}
	.about-us__card{
		flex-direction: column;
		margin-bottom: 30px;
	}
	.about-us__image{
		margin: 0 auto 30px;
	}
	.about-us__text{
		margin-left: 0;
	}
	.about-us h2{
		margin-bottom: 20px;
	}

	.footer{
		padding-bottom: 14px;
	}
	.footer .row>div:nth-child(1),
	.footer .row>div:nth-child(2){
		margin-bottom: 20px;
	}

	.hamburger-box {
	  width: 30px;
	  height: 24px;}

	.hamburger-inner {
	  top: 50%;
	  margin-top: -1.5px; }
	  .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
	    width: 30px;
	    height: 3px;}
	  .hamburger-inner::before {
	    top: -8px; }
	  .hamburger-inner::after {
	    bottom: -8px; }

	.application{
		padding-bottom: 60px;
	}
	.novelty ~ .application{
		padding-top: 60px;
	}
	.specifications{
		padding-top: 60px;
		padding-bottom: 60px;
	}

	.map{
		margin-bottom: 60px;
		height: 300px;
	}

	.discount-slider{
		margin-top: 40px;
		margin-bottom: 10px;
	}
	.discount-slider h1{
		font-size: 18px;
	}
	.discount-slider h1 strong{
		font-size: 30px;
	}
	.discount-slider .offer__button{
		margin-left: auto;
		margin-right: auto;
	}
}
@media only screen and (max-width: 576px){
	.offer__button{
		margin-left: auto;
		margin-right: auto;
	}

	.category__image_1,
	.category__image_2,
	.category__image_3,
	.category__image_4{
		width: auto;
		height: 65%;
		bottom: 40px;
		right: 0px;
	}
	.about-us h2{
		font-size: 25px;
	}
	.about-us__items{
		flex-direction: column;
	}
	.about-us__link_1,
	.about-us__link_2{
		width: 100%;
	}
	.about-us__link_1{
		margin-bottom: 30px;
	}

	.footer{
		padding-bottom: 0px;
	}
	.footer .row>div{
		margin-bottom: 20px;
	}

	.section-title{
		font-size: 25px;
	}

	.specifications .col-lg-3{
		padding: 0 30px 15px;
	}
	.specifications .col-lg-3:nth-child(1),
	.specifications .col-lg-3:nth-child(2){
		margin-bottom: 30px;
	}
	.specifications .col-lg-3:nth-child(3){
		border-left: none;
	}

	.specifications .col-lg-3{
		border-left: none;
		border-bottom: 1px solid #F8F8F8;
		margin-bottom: 10px !important;
	}
	.specifications .col-lg-3:last-child{
		border-bottom: 0;
		margin-bottom: 0;
		padding-bottom: 0;
	}
	.features__item{
		padding-right: 0;
	}

	.map{
		margin-top: -60px;
		margin-left: -15px;
		margin-right: -15px;
	}

	.discount-slider{
		margin-top: -20px;
		margin-left: -15px;
		margin-right: -15px;
		margin-bottom: -50px;
		border-radius: 0;
	}
	.discount-slider__item{
		padding: 15px;
	}
	.discount-slider .slick-arrow{
		top: 20%;
	}
}

@media only screen and (max-width: 450px){
	.offer{
		padding-bottom: 0;
	}
	.offer h1{
		font-size: 18px;
	}
	.offer h1 strong{
		font-size: 30px;
	}

	.category__card h3{
		font-size: 18px;
	}
	.category__price{
		font-size: 16px;
	}
	.category__price strong{
		font-size: 14px;
		padding: 6px 12px;
	}
	.category__more{
		font-size: 16px;
		margin-top: 30px;
	}

	.category__image_1,
	.category__image_2,
	.category__image_3,
	.category__image_4{
		height: 50%;
		bottom: 40px;
		right: 0px;
	}

	.novelty{
		padding: 40px 0;
	}

	.application h2{
		font-size: 25px;
		margin-bottom: 30px;
	}
	.application input{
		margin-top: 10px;
	}

	.specifications{
		padding: 40px 0;
	}
	.specifications h2{
		font-size: 25px;
	}
}