ul,li{
	padding: 0;
	margin: 0;
	display: block;
}
a{
	color: inherit;
	text-decoration: none;
}
a:hover{
	color: inherit;
	text-decoration: none;
}
a:focus{
	color: inherit;
	text-decoration: none;
}

body{
	font-family: 'Roboto', sans-serif;
	color: #1A1A1A;
	font-size: 16px;
	line-height: 1.25;
	min-width: 320px;
	overflow-x: hidden;
}

strong{
	color: #F6DB35;
}

.link{
	color: #653E9F;
	text-decoration: underline;
	transition: color 0.2s;
}

.button{
	display: block;
	padding: 10px 20px;
	margin-top: 20px;
	white-space: nowrap;
	text-align: center;
	width: 174px;
	border-radius: 100px;
	font-weight: 700;
	color: #1A1A1A;
	cursor: pointer;
	border: none;
	background: #F6DB35;
	box-shadow: 0px 3px 0px #DEC718;
	transition: all 0.2s;
}
.button:active{
	box-shadow: 0px 0px 0px #DEC718;
	background: #DEC718;
	transform: translateY(3px)
}

.button_transparent{
	display: block;
	padding: 10px 20px;
	white-space: nowrap;
	text-align: center;
	width: 100%;
	border-radius: 100px;
	font-weight: 700;
	color: #1A1A1A;
	cursor: pointer;
	border: 1px solid #1A1A1A;
	background: transparent;
	transition: all 0.2s;
}
.button_transparent:hover{
	background: #F6DB35;
	border: 1px solid #F6DB35;
}


.icon{
	display: inline-block;
	position: relative;
}
.icon::before{
	content: '';
	display: block;
	position: absolute;
	width: 29px;
	height: 68px;
	left: -5px;
	top: -4px;
	background: #F2EAFF;
	border-radius: 10px 0px;
	transition: all 0.2s;
}
.icon img{
	position: relative;
	z-index: 1;
	height: 60px;
	width: auto;
}

/* Header */

.first-line{
	padding: 7px 0;
	background: #F2EAFF;
	font-size: 12px;
}
.first-line .address{
	float: left;
}
.first-line .address::before{
	font-size: 13px;
	content: '\f041';
	font-family: 'FontAwesome';
	margin-right: 10px;
}
.first-line .check{
	float: right;
}
.first-line .check .link{
	color: #fff;
}
.first-line .check::before{
	font-size: 13px;
	content: '\f1da';
	font-family: 'FontAwesome';
	margin-right: 5px;
}

.second-line{
	padding: 16px 0;
	background-color: #fff;
}
.second-line .logo{
	display: block;
	width: 123px;
}
.second-line .main-menu{
	display: flex;
	justify-content: space-between;
	font-size: 14px;
	margin-top: 10px;
}
.second-line .main-menu a{
	padding: 5px;
}
.second-line .phone{
	text-align: right;
	font-weight: bold;
}
.second-line .phone::before{
	content: '\f095';
	font-family: 'FontAwesome';
	margin-right: 10px;
}
.second-line .request-call{
	text-align: right;
	font-size: 14px;
	font-weight: bold;
}

.hamburger {
	padding: 0;
	margin-top: 3px;
	transition-property: opacity, filter;
	transition-duration: 0.15s;
	transition-timing-function: linear;
}
.hamburger:hover {
	opacity: 0.7;
}
.hamburger.is-active:hover {
	opacity: 0.7;
}
.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
	background-color: #000;
}
.hamburger-box {
	margin-left: auto;
	width: 22px;
	height: 15px;
	display: block;
	position: relative;
	cursor: pointer;
}
.hamburger-inner {
	display: block;
	top: 50%;
	margin-top: -2px;
}
.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
	width: 22px;
	height: 3px;
	background-color: #000;
	border-radius: 1.5px;
	position: absolute;
	transition-property: transform;
	transition-duration: 0.15s;
	transition-timing-function: ease;
}
.hamburger-inner::before, .hamburger-inner::after {
	content: "";
	display: block;
}
.hamburger-inner::before {
	top: -6px;
}
.hamburger-inner::after {
    bottom: -6px;
}

.third-line{
	background: #9146FF;
	color: #fff;
	padding: 16px 0;
}
.service-menu{
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-weight: bold;
	font-size: 16px;
}
.service-menu a{
	display: block;
}
.service-menu .has-children>a::after{
	content: '\f107';
	font-family: 'FontAwesome';
	font-size: 19px;
	font-weight: 400;
	margin-left: 5px;
}

/* Главная */

.is-home .first-line{
	background: #9146FF;
	color: #fff;
}
.is-home .third-line{
	background: #F2EAFF;
	color: #1A1A1A;
}

.section{
	padding: 80px 0;
}
.section_dark{
	background: #9146FF;
	color: #fff;
}
.section-title{
	position: relative;
	font-family: 'Roboto', sans-serif;
	font-size: 32px;
	font-weight: 700;
	margin-top: 0;
	margin-bottom: 50px;
}
.section .section-intro{
	font-size: 24px;
	margin-bottom: 80px
}
.section p{
	margin-bottom: 20px;
}


.offer{
	height: 600px;
	background: url('../img/bg-home.jpg') center / cover;
}
.offer .container{
	position: relative;
	height: 100%;
}
.offer .button{
	position: absolute;
	bottom: 40px;
	left: 120px;
}

.service-center .card{
	display: block;
	padding: 50px 40px;
	box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
	cursor: pointer;
	text-align: center;
	margin-bottom: 20px;
}
.service-center .icon{
	margin-bottom: 30px;
}
.service-center .card:hover .button_transparent{
	border: 1px solid #9146FF;
	color: #fff;
	background: #9146FF;
}
.service-center .section-title{
	margin-top: 80px;
}
.service-center .card:hover .icon::before{
	background: #9146FF;
}

.feedback{
	background: #9146FF url(../img/bg-home-feedback.jpg) center / cover
}
.feedback-form{
	margin-top: 40px;
}
.feedback-form .input{
	display: block;
	width: 360px;
	margin-bottom: 20px;
	padding: 10px 20px;
	border-radius: 0;
	border: none;
}
.feedback-form .selectize-control{
	margin-bottom: 15px;
}
.feedback-form .selectize-input{
	width: 360px;
	padding: 10px 20px;
	border-radius: 0;
	border: none;
}
.selectize-dropdown,
.selectize-input,
.selectize-input input{
	font-size: 16px;
}
.feedback-form .button{
	margin-bottom: 30px;
	margin-top: 0;
}

.feedback-form .checkbox{
	padding-left: 0;
	margin-bottom: 20px;
}
.feedback-form input[type="checkbox"] {
	display: none;
}
.feedback-form .checkbox label{
	display: block;
	position: relative;
	padding-left: 40px;
	font-weight: 400;
}
.feedback-form .checkbox label::before{
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	margin-top: -13px;
	width: 26px;
	height: 26px;
	display: block;
	background: #fff;
}
.feedback-form input[type="checkbox"]:checked + label::before{
	background: #fff url(../img/icons/icon-checkmark.svg) no-repeat center / 20px 20px;
}
.feedback-form .privacy-policy{
	font-size: 12px;
	margin-top: 20px;
}
.feedback-form .additional-fields{
	height: 0;
	overflow: hidden;
	transition: height 0.3s;
}
.feedback-form .additional-fields.open{
	height: 460px;
}

.category{
	margin-bottom: 80px;
	min-height: 350px;
}
.category:last-child{
	margin-bottom: 0;
}
.category .section-title{
	margin-bottom: 50px;
}
.category .button_transparent{
	margin-bottom: 40px;
}
.category .section-title{
	display: flex;
	justify-content: flex-start;
}
.category .section-title:after{
	content: '';
	position: absolute;
	bottom: 5px;
	font-weight: bold;
	font-size: 96px;
	color: rgba(145, 70, 255, 0.1);
}
.category-apple .section-title:after{
	content: 'Apple';
}
.category-phone .section-title:after{
	content: 'Телефоны';
}
.category-tablet .section-title:after{
	content: 'Планшеты';
}
.category-laptop .section-title:after{
	content: 'Ноутбуки';
}
.category-image{
	display: flex;
	justify-content: center;
}
.category-image img{
	flex-shrink: 0;
}

.filter{
	font-size: 24px;
	font-weight: 700;
	margin-bottom: 40px;
	padding-bottom: 30px;
	text-align: center;
	cursor: pointer;
}
.filter .icon img{
	height: 50px;
}
.filter .icon::before{
	width: 28px;
	height: 58px;
	left: -6px;
	top: -3px;
}
.filter:hover .icon::before{
	background: #9146FF;
}
.filter.active{
	background: url(../img/catalog/bottom.png) no-repeat bottom / contain;
}
.filter.active .icon::before{
	background: #9146FF;
}

.delivery{
	background: url(../img/delivery.jpg) center / cover;
}

.reviews{
	padding-bottom: 0;
}
.reviews-bg{
	position: relative;
}
.reviews-bg::before{
	position: absolute;
	content: '';
	width: 200%;
	right: 200px;
	height: 100%;
	background: url(../img/Wats_back.png);
}
.reviews .card{
	position: relative;
	background-color: #fff;
	padding: 20px 30px;
	border-radius: 0 6px 6px 6px;
	margin: 40px 20px;
}
.reviews .card::before{
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: -12px;
	border-top: 12px solid #fff;
	border-left: 12px solid transparent;
}
.reviews .button{
	margin-top: 40px;
}

.post-preview{
	box-shadow: 0px 4px 15px rgba(26, 26, 26, 0.08);
	background: #fff;
	cursor: pointer;
	margin-bottom: 40px;
}
.post-thumb{
	display: block;
	width: 100%;
}
.post-preview .text-block{
	padding: 20px;
}
.post-title{
	font-family: Roboto;
	font-weight: bold;
	font-size: 18px;
}

@media only screen and (max-width: 992px){
	.second-line .logo{
		width: 115px;
	}
	.service-menu{
		font-size: 12px;
	}
	.service-menu .has-children>a::after{
		font-size: 12px;
		margin-left: 5px;
	}
	.second-line .phone{
		font-size: 15px
	}
	.offer{
		height: 500px;
		background: url('../img/bg-home.jpg') center / cover;
	}
	.offer .button{
		left: 60px;
	}
	.feedback{
		background: #9146FF;
	}

	.category-image{
		display: block;
	}
}
@media only screen and (max-width: 768px){
	.second-line .logo{
		width: 72px;
	}
	.second-line .phone{
		text-align: center;
	}
	.offer{
		background: url('../img/bg-home.jpg') center right -420px / cover;
	}

	.section-title{
		text-align: center;
		font-size: 24px;
	}
	.section-intro{
		text-align: center;
	}
	.service-center .card{
		max-width: 350px;
		margin-left: auto;
		margin-right: auto;
	}
	.category{
		min-height: 0;
	}
	
	.category .section-title{
		justify-content: center;
	}
	.category .section-title:after{
		bottom: 5px;
		font-size: 72px;
	}
}
@media only screen and (max-width: 480px) {
	body{
		font-size: 14px;
	}

	.second-line .phone{
		margin-top: 3px;
		text-align: right;
		font-size: 12px;
	}
	.offer{
		height: 150vw;
		background: url('../img/bg-home-mobile.jpg') center top / cover;
	}
	.offer .button{
		left: 50%;
		margin-left: -87px;
	}

	.section{
		padding: 40px 0;
	}
	.section-title{
		font-size: 18px;
	}
	.section-intro{
		font-size: 18px;
	}

	.service-center .card{
		padding: 20px 25px;
	}
	.service-center .section-title{
		margin-top: 40px;
	}

	.feedback-form .input{
		width: 100%;
	}
	.feedback-form .selectize-input{
		width: 100%;
	}
	.feedback-form .button{
		margin-left: auto;
		margin-right: auto;
	}
	.selectize-dropdown,
	.selectize-input,
	.selectize-input input{
		font-size: 14px;
	}
	.category{
		margin-bottom: 40px;
	}
	.category .section-title:after{
		bottom: -5px;
		font-size: 60px;
	}
}